############################################################################
##  File name :       cpld.ucf
## 
##  Details :         Constraints file
##  FPGA family:      cOO2runner
##  Date:             April 2011
##  Designer:         S. Friederich
##
############################################################################
CONFIG PART = xc2c256-6PQ208;

NET "CPLD_100MHZ" TNM_NET = CPLD_100MHZ;
TIMESPEC TS_CPLD_100MHZ = PERIOD "CPLD_100MHZ" 10 ns HIGH 5 ns;

#NET "FPGA_clock" TNM_NET = FPGA_CCLK;
#TIMESPEC TS_CPLD_25MHZ = PERIOD "FPGA_clock" 40 ns HIGH 20 ns;
NET "CPLD_100MHZ"        LOC = "55" |IOSTANDARD = LVCMOS33; 
NET "FPGA_clock"         LOC = "86" |IOSTANDARD = LVCMOS33;

# signals for FPGA configuration
NET "DONE"               LOC = "87"|IOSTANDARD = LVCMOS33;
NET "INIT_B"             LOC = "89"|IOSTANDARD = LVCMOS33;
NET "Program_B"          LOC = "90"|IOSTANDARD = LVCMOS33;
NET "FPGA_CCLK"          LOC = "88"|IOSTANDARD = LVCMOS33;

NET "LEDs<3>"             LOC = "78" |IOSTANDARD = LVCMOS33;       
NET "LEDs<2>"             LOC = "80" |IOSTANDARD = LVCMOS33;     
NET "LEDs<1>"             LOC = "82" |IOSTANDARD = LVCMOS33; 
NET "LEDs<0>"             LOC = "83" |IOSTANDARD = LVCMOS33;  

NET "FPGA_L"             LOC = "145" |IOSTANDARD = LVCMOS33;  # IO_LP9
NET "FPGA_E"             LOC = "144" |IOSTANDARD = LVCMOS33;  # FPGA_FCS    
NET "FPGA_W"             LOC = "142" |IOSTANDARD = LVCMOS33;  # FPGA_FWE     
NET "FPGA_RP"            LOC = "85"  |IOSTANDARD = LVCMOS33;  # NEW_PROG_RELOAD 
NET "reboot"             LOC = "140" |IOSTANDARD = LVCMOS33;  # FPGA_A23      
NET "FPGA_G"             LOC = "143" |IOSTANDARD = LVCMOS33;  # FPGA_FOE    
NET "FPGA_A<22>"         LOC = "139" |IOSTANDARD = LVCMOS33;       
NET "FPGA_A<21>"         LOC = "138" |IOSTANDARD = LVCMOS33;       
NET "FPGA_A<20>"         LOC = "137" |IOSTANDARD = LVCMOS33;       
NET "FPGA_A<19>"         LOC = "136" |IOSTANDARD = LVCMOS33;       
NET "FPGA_A<18>"         LOC = "135" |IOSTANDARD = LVCMOS33;       
NET "FPGA_A<17>"         LOC = "134" |IOSTANDARD = LVCMOS33;       
NET "FPGA_A<16>"         LOC = "184" |IOSTANDARD = LVCMOS33;       
NET "FPGA_A<15>"         LOC = "183" |IOSTANDARD = LVCMOS33;       
NET "FPGA_A<14>"         LOC = "182" |IOSTANDARD = LVCMOS33;       
NET "FPGA_A<13>"         LOC = "180" |IOSTANDARD = LVCMOS33;       
NET "FPGA_A<12>"         LOC = "179" |IOSTANDARD = LVCMOS33;       
NET "FPGA_A<11>"         LOC = "178" |IOSTANDARD = LVCMOS33;       
NET "FPGA_A<10>"         LOC = "175" |IOSTANDARD = LVCMOS33;       
NET "FPGA_A<9>"          LOC = "174" |IOSTANDARD = LVCMOS33;       
NET "FPGA_A<8>"          LOC = "173" |IOSTANDARD = LVCMOS33;       
NET "FPGA_A<7>"          LOC = "159" |IOSTANDARD = LVCMOS33;       
NET "FPGA_A<6>"          LOC = "158" |IOSTANDARD = LVCMOS33;       
NET "FPGA_A<5>"          LOC = "155" |IOSTANDARD = LVCMOS33;       
NET "FPGA_A<4>"          LOC = "154" |IOSTANDARD = LVCMOS33;       
NET "FPGA_A<3>"          LOC = "153" |IOSTANDARD = LVCMOS33;       
NET "FPGA_A<2>"          LOC = "152" |IOSTANDARD = LVCMOS33;       
NET "FPGA_A<1>"          LOC = "151" |IOSTANDARD = LVCMOS33;       
NET "FPGA_A<0>"          LOC = "150" |IOSTANDARD = LVCMOS33;       

NET "FPGA_data<15>"        LOC = "149" |IOSTANDARD = LVCMOS33;       
NET "FPGA_data<14>"        LOC = "148" |IOSTANDARD = LVCMOS33;       
NET "FPGA_data<13>"        LOC = "147" |IOSTANDARD = LVCMOS33;       
NET "FPGA_data<12>"        LOC = "146" |IOSTANDARD = LVCMOS33;       
NET "FPGA_data<11>"        LOC = "171" |IOSTANDARD = LVCMOS33;       
NET "FPGA_data<10>"        LOC = "170" |IOSTANDARD = LVCMOS33;       
NET "FPGA_data<9>"         LOC = "169" |IOSTANDARD = LVCMOS33;       
NET "FPGA_data<8>"         LOC = "168" |IOSTANDARD = LVCMOS33;       
NET "FPGA_data<7>"         LOC = "167" |IOSTANDARD = LVCMOS33;       
NET "FPGA_data<6>"         LOC = "166" |IOSTANDARD = LVCMOS33;       
NET "FPGA_data<5>"         LOC = "165" |IOSTANDARD = LVCMOS33;       
NET "FPGA_data<4>"         LOC = "164" |IOSTANDARD = LVCMOS33;       
NET "FPGA_data<3>"         LOC = "163" |IOSTANDARD = LVCMOS33;       
NET "FPGA_data<2>"         LOC = "162" |IOSTANDARD = LVCMOS33;       
NET "FPGA_data<1>"         LOC = "161" |IOSTANDARD = LVCMOS33;       
NET "FPGA_data<0>"         LOC = "160" |IOSTANDARD = LVCMOS33;       

# FLASH INTERFACE
NET "FLASH_A_A<0>"         LOC = "39" |IOSTANDARD = LVCMOS33;       
NET "FLASH_A_A<1>"         LOC = "40" |IOSTANDARD = LVCMOS33;       
NET "FLASH_A_A<2>"         LOC = "41" |IOSTANDARD = LVCMOS33;       
NET "FLASH_A_A<3>"         LOC = "43" |IOSTANDARD = LVCMOS33;       
NET "FLASH_A_A<4>"         LOC = "45" |IOSTANDARD = LVCMOS33;       
NET "FLASH_A_A<5>"         LOC = "47" |IOSTANDARD = LVCMOS33;       
NET "FLASH_A_A<6>"         LOC = "48" |IOSTANDARD = LVCMOS33;       
NET "FLASH_A_A<7>"         LOC = "49" |IOSTANDARD = LVCMOS33;       
NET "FLASH_A_A<8>"         LOC = "50" |IOSTANDARD = LVCMOS33;       
NET "FLASH_A_A<9>"         LOC = "51" |IOSTANDARD = LVCMOS33;       
NET "FLASH_A_A<10>"        LOC = "54" |IOSTANDARD = LVCMOS33;       
NET "FLASH_A_A<11>"        LOC = "56" |IOSTANDARD = LVCMOS33;       
NET "FLASH_A_A<12>"        LOC = "57" |IOSTANDARD = LVCMOS33;       
NET "FLASH_A_A<13>"        LOC = "58" |IOSTANDARD = LVCMOS33;       
NET "FLASH_A_A<14>"        LOC = "60" |IOSTANDARD = LVCMOS33;       
NET "FLASH_A_A<15>"        LOC = "61" |IOSTANDARD = LVCMOS33;       
NET "FLASH_A_A<16>"        LOC = "62" |IOSTANDARD = LVCMOS33;       
NET "FLASH_A_A<17>"        LOC = "63" |IOSTANDARD = LVCMOS33;       
NET "FLASH_A_A<18>"        LOC = "27" |IOSTANDARD = LVCMOS33;       
NET "FLASH_A_A<19>"        LOC = "28" |IOSTANDARD = LVCMOS33;       
NET "FLASH_A_A<20>"        LOC = "29" |IOSTANDARD = LVCMOS33;       
NET "FLASH_A_A<21>"        LOC = "30" |IOSTANDARD = LVCMOS33;       
NET "FLASH_A_A<22>"        LOC = "31" |IOSTANDARD = LVCMOS33;
#NET "FLASH_A_A<23>"        LOC = "32" |IOSTANDARD = LVCMOS33;         

# Flash A
NET "FLASH_A_DQ<0>"      LOC = "101" |IOSTANDARD = LVCMOS33;       
NET "FLASH_A_DQ<1>"      LOC = "102" |IOSTANDARD = LVCMOS33;       
NET "FLASH_A_DQ<2>"      LOC = "103" |IOSTANDARD = LVCMOS33;       
NET "FLASH_A_DQ<3>"      LOC = "106" |IOSTANDARD = LVCMOS33;       
NET "FLASH_A_DQ<4>"      LOC = "118" |IOSTANDARD = LVCMOS33;       
NET "FLASH_A_DQ<5>"      LOC = "119" |IOSTANDARD = LVCMOS33;       
NET "FLASH_A_DQ<6>"      LOC = "120" |IOSTANDARD = LVCMOS33;       
NET "FLASH_A_DQ<7>"      LOC = "121" |IOSTANDARD = LVCMOS33;
NET "FLASH_A_DQ<8>"      LOC = "122" |IOSTANDARD = LVCMOS33;       
NET "FLASH_A_DQ<9>"      LOC = "123" |IOSTANDARD = LVCMOS33;       
NET "FLASH_A_DQ<10>"     LOC = "125" |IOSTANDARD = LVCMOS33;       
NET "FLASH_A_DQ<11>"     LOC = "126" |IOSTANDARD = LVCMOS33;       
NET "FLASH_A_DQ<12>"     LOC = "127" |IOSTANDARD = LVCMOS33;       
NET "FLASH_A_DQ<13>"     LOC = "128" |IOSTANDARD = LVCMOS33;       
NET "FLASH_A_DQ<14>"     LOC = "131" |IOSTANDARD = LVCMOS33;       
NET "FLASH_A_DQ<15>"     LOC = "77" |IOSTANDARD = LVCMOS33;       

NET "FLASH_A_E"          LOC = "34" |IOSTANDARD = LVCMOS33;       
NET "FLASH_A_G"          LOC = "35" |IOSTANDARD = LVCMOS33;       
NET "FLASH_A_K"          LOC = "36" |IOSTANDARD = LVCMOS33;       
NET "FLASH_A_RP"         LOC = "37" |IOSTANDARD = LVCMOS33;       
NET "FLASH_A_WP"         LOC = "64" |IOSTANDARD = LVCMOS33;       
NET "FLASH_A_W"          LOC = "65" |IOSTANDARD = LVCMOS33;       
NET "FLASH_A_L"          LOC = "66" |IOSTANDARD = LVCMOS33;       
NET "FLASH_A_RW"         LOC = "67" |IOSTANDARD = LVCMOS33; # | PULLUP;           
# Flash B
NET "FLASH_B_DQ<0>"      LOC = "107" |IOSTANDARD = LVCMOS33;       
NET "FLASH_B_DQ<1>"      LOC = "108" |IOSTANDARD = LVCMOS33;       
NET "FLASH_B_DQ<2>"      LOC = "109" |IOSTANDARD = LVCMOS33;       
NET "FLASH_B_DQ<3>"      LOC = "110" |IOSTANDARD = LVCMOS33;       
NET "FLASH_B_DQ<4>"      LOC = "111" |IOSTANDARD = LVCMOS33;       
NET "FLASH_B_DQ<5>"      LOC = "112" |IOSTANDARD = LVCMOS33;       
NET "FLASH_B_DQ<6>"      LOC = "113" |IOSTANDARD = LVCMOS33;       
NET "FLASH_B_DQ<7>"      LOC = "114" |IOSTANDARD = LVCMOS33;       
NET "FLASH_B_DQ<8>"      LOC = "115" |IOSTANDARD = LVCMOS33;       
NET "FLASH_B_DQ<9>"      LOC = "116" |IOSTANDARD = LVCMOS33;       
NET "FLASH_B_DQ<10>"     LOC = "117" |IOSTANDARD = LVCMOS33;       
NET "FLASH_B_DQ<11>"     LOC = "91" |IOSTANDARD = LVCMOS33;       
NET "FLASH_B_DQ<12>"     LOC = "95" |IOSTANDARD = LVCMOS33;       
NET "FLASH_B_DQ<13>"     LOC = "97" |IOSTANDARD = LVCMOS33;       
NET "FLASH_B_DQ<14>"     LOC = "99" |IOSTANDARD = LVCMOS33;       
NET "FLASH_B_DQ<15>"     LOC = "100" |IOSTANDARD = LVCMOS33;   

NET "FLASH_B_E"          LOC = "69" |IOSTANDARD = LVCMOS33;       
NET "FLASH_B_G"          LOC = "70" |IOSTANDARD = LVCMOS33;       
NET "FLASH_B_K"          LOC = "71" |IOSTANDARD = LVCMOS33;       
NET "FLASH_B_RP"         LOC = "72" |IOSTANDARD = LVCMOS33;       
NET "FLASH_B_WP"         LOC = "73" |IOSTANDARD = LVCMOS33;       
NET "FLASH_B_W"          LOC = "74" |IOSTANDARD = LVCMOS33;       
NET "FLASH_B_L"          LOC = "75" |IOSTANDARD = LVCMOS33;       
NET "FLASH_B_RW"         LOC = "76" |IOSTANDARD = LVCMOS33;
#Created by Constraints Editor (xc2c256-pq208-6) - 2011/06/23
OFFSET = OUT 10 ns AFTER "CPLD_100MHZ";
INST "FLASH_A_A<0>" TNM = FLASH_A_A;
INST "FLASH_A_A<1>" TNM = FLASH_A_A;
INST "FLASH_A_A<2>" TNM = FLASH_A_A;
INST "FLASH_A_A<3>" TNM = FLASH_A_A;
INST "FLASH_A_A<4>" TNM = FLASH_A_A;
INST "FLASH_A_A<5>" TNM = FLASH_A_A;
INST "FLASH_A_A<6>" TNM = FLASH_A_A;
INST "FLASH_A_A<7>" TNM = FLASH_A_A;
INST "FLASH_A_A<8>" TNM = FLASH_A_A;
INST "FLASH_A_A<9>" TNM = FLASH_A_A;
INST "FLASH_A_A<10>" TNM = FLASH_A_A;
INST "FLASH_A_A<11>" TNM = FLASH_A_A;
INST "FLASH_A_A<12>" TNM = FLASH_A_A;
INST "FLASH_A_A<13>" TNM = FLASH_A_A;
INST "FLASH_A_A<14>" TNM = FLASH_A_A;
INST "FLASH_A_A<15>" TNM = FLASH_A_A;
INST "FLASH_A_A<16>" TNM = FLASH_A_A;
INST "FLASH_A_A<17>" TNM = FLASH_A_A;
INST "FLASH_A_A<18>" TNM = FLASH_A_A;
INST "FLASH_A_A<19>" TNM = FLASH_A_A;
INST "FLASH_A_A<20>" TNM = FLASH_A_A;
INST "FLASH_A_A<21>" TNM = FLASH_A_A;
INST "FLASH_A_A<22>" TNM = FLASH_A_A;
TIMEGRP "FLASH_A_A" OFFSET = OUT 4 ns AFTER "CPLD_100MHZ";
#Created by Constraints Editor (xc2c256-pq208-6) - 2011/06/23
INST "FPGA_data<0>" TNM = FPGA_data;
INST "FPGA_data<1>" TNM = FPGA_data;
INST "FPGA_data<2>" TNM = FPGA_data;
INST "FPGA_data<3>" TNM = FPGA_data;
INST "FPGA_data<4>" TNM = FPGA_data;
INST "FPGA_data<5>" TNM = FPGA_data;
INST "FPGA_data<6>" TNM = FPGA_data;
INST "FPGA_data<7>" TNM = FPGA_data;
INST "FPGA_data<8>" TNM = FPGA_data;
INST "FPGA_data<9>" TNM = FPGA_data;
INST "FPGA_data<10>" TNM = FPGA_data;
INST "FPGA_data<11>" TNM = FPGA_data;
INST "FPGA_data<12>" TNM = FPGA_data;
INST "FPGA_data<13>" TNM = FPGA_data;
INST "FPGA_data<14>" TNM = FPGA_data;
INST "FPGA_data<15>" TNM = FPGA_data;
#Created by Constraints Editor (xc2c256-pq208-6) - 2011/06/23
TIMEGRP "FPGA_data" OFFSET = OUT 4 ns AFTER "CPLD_100MHZ";
