################################################################################
#
#  NetFPGA-10G http://www.netfpga.org
#
#  File:
#        nf10.ucf
#
#  Project:
#        osnt_generator
#
#  Author:
#        Muhammad Shahbaz
#
#  Description:
#        UCF
#
#  Copyright notice:
#        Copyright (C) 2010, 2011 The Board of Trustees of The Leland Stanford
#                                 Junior University
#
#  Licence:
#        This file is part of the NetFPGA 10G development base package.
#
#        This file is free code: you can redistribute it and/or modify it under
#        the terms of the GNU Lesser General Public License version 2.1 as
#        published by the Free Software Foundation.
#
#        This package is distributed in the hope that it will be useful, but
#        WITHOUT ANY WARRANTY; without even the implied warranty of
#        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
#        Lesser General Public License for more details.
#
#        You should have received a copy of the GNU Lesser General Public
#        License along with the NetFPGA source package.  If not, see
#        http://www.gnu.org/licenses/.
#
#

NET Peripheral_aresetn TIG;

NET RESET             LOC = AL24  |  IOSTANDARD=LVCMOS33  | PULLUP | TIG;
NET RS232_Uart_1_sin  LOC = BB23  |  IOSTANDARD=LVCMOS33;
NET RS232_Uart_1_sout LOC = BB21  |  IOSTANDARD=LVCMOS33;
NET CLK               LOC = AN25  |  IOSTANDARD=LVCMOS33;

NET MDC               LOC = AK23   | IOSTANDARD = LVCMOS33;
NET MDIO              LOC = AL20   | IOSTANDARD = LVCMOS33;
NET PHY_RST_N         LOC = AR20   | IOSTANDARD = LVCMOS33  | PULLUP;       # external pullup

NET CLK TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 100 MHz;

NET "core_clk" TNM_NET = "CORE_CLK";
NET "control_clk" TNM_NET = "CTRL_CLK";
NET "dma_0/dma_0/trn_clk_c" TNM_NET = "PCIE_CLK";
NET "nf10_pcap_replay_uengine_0/qdr_clk" TNM_NET = "QDR_CLK";

TIMESPEC "TS_CLK_TIG_0" = FROM "CORE_CLK" TO "PCIE_CLK" TIG;
TIMESPEC "TS_CLK_TIG_1" = FROM "PCIE_CLK" TO "CORE_CLK" TIG;
TIMESPEC "TS_CLK_TIG_2" = FROM "CTRL_CLK" TO "PCIE_CLK" TIG;
TIMESPEC "TS_CLK_TIG_3" = FROM "PCIE_CLK" TO "CTRL_CLK" TIG;
TIMESPEC "TS_CLK_TIG_4" = FROM "CTRL_CLK" TO "CORE_CLK" TIG;
TIMESPEC "TS_CLK_TIG_5" = FROM "CORE_CLK" TO "CTRL_CLK" TIG;
TIMESPEC "TS_CLK_TIG_6" = FROM "CORE_CLK" TO "QDR_CLK" TIG;
TIMESPEC "TS_CLK_TIG_7" = FROM "QDR_CLK" TO "CORE_CLK" TIG;

# GTX PLACEMENT #########################################################

# XAUI 0
INST nf10_10g_interface_0/nf10_10g_interface_0/xaui_block/rocketio_wrapper_i/tile0_rocketio_wrapper_i/USE_REVERSE_LANES.gtx_dual_i LOC=GTX_DUAL_X1Y6;
INST nf10_10g_interface_0/nf10_10g_interface_0/xaui_block/rocketio_wrapper_i/tile1_rocketio_wrapper_i/USE_REVERSE_LANES.gtx_dual_i LOC=GTX_DUAL_X1Y7;
# XAUI 1
INST nf10_10g_interface_1/nf10_10g_interface_1/xaui_block/rocketio_wrapper_i/tile0_rocketio_wrapper_i/USE_REVERSE_LANES.gtx_dual_i LOC=GTX_DUAL_X1Y8;
INST nf10_10g_interface_1/nf10_10g_interface_1/xaui_block/rocketio_wrapper_i/tile1_rocketio_wrapper_i/USE_REVERSE_LANES.gtx_dual_i LOC=GTX_DUAL_X1Y9;
# XAUI 2
INST nf10_10g_interface_2/nf10_10g_interface_2/xaui_block/rocketio_wrapper_i/tile0_rocketio_wrapper_i/USE_REVERSE_LANES.gtx_dual_i LOC=GTX_DUAL_X1Y10;
INST nf10_10g_interface_2/nf10_10g_interface_2/xaui_block/rocketio_wrapper_i/tile1_rocketio_wrapper_i/USE_REVERSE_LANES.gtx_dual_i LOC=GTX_DUAL_X1Y11;
# XAUI 3
INST nf10_10g_interface_3/nf10_10g_interface_3/xaui_block/rocketio_wrapper_i/tile0_rocketio_wrapper_i/NO_REVERSE_LANES.gtx_dual_i LOC=GTX_DUAL_X0Y11;
INST nf10_10g_interface_3/nf10_10g_interface_3/xaui_block/rocketio_wrapper_i/tile1_rocketio_wrapper_i/NO_REVERSE_LANES.gtx_dual_i LOC=GTX_DUAL_X0Y10;

# refclk for Port A
NET "refclk_A_p"  LOC = "M4" ;
NET "refclk_A_n"  LOC = "M3" ;

# refclk for Port B
NET "refclk_B_p"  LOC = "C4" ;
NET "refclk_B_n"  LOC = "C3" ;

# refclk for Port C
NET "refclk_C_p"  LOC = "D16" ;
NET "refclk_C_n"  LOC = "C16" ;

# refclk for XAUI D
NET "refclk_D_p"  LOC = "D27" ;
NET "refclk_D_n"  LOC = "C27" ;

NET "nf10_10g_interface_0/nf10_10g_interface_0/clk156" TNM_NET="clk156_top";
NET "nf10_10g_interface_1/nf10_10g_interface_1/clk156" TNM_NET="clk156_top";
NET "nf10_10g_interface_2/nf10_10g_interface_2/clk156" TNM_NET="clk156_top";
NET "nf10_10g_interface_3/nf10_10g_interface_3/clk156" TNM_NET="clk156_top";
TIMESPEC "TS_clk156_top" = PERIOD "clk156_top" 156.25 MHz HIGH 50 %;

NET nf10_10g_interface_0/nf10_10g_interface_0/xaui_block/rocketio_wrapper_i/tile1_rxrecclk0_i TNM_NET=clk156_rec;
NET nf10_10g_interface_1/nf10_10g_interface_1/xaui_block/rocketio_wrapper_i/tile1_rxrecclk0_i TNM_NET=clk156_rec;
NET nf10_10g_interface_2/nf10_10g_interface_2/xaui_block/rocketio_wrapper_i/tile1_rxrecclk0_i TNM_NET=clk156_rec;
NET nf10_10g_interface_3/nf10_10g_interface_3/xaui_block/rocketio_wrapper_i/tile1_rxrecclk0_i TNM_NET=clk156_rec;
TIMESPEC TS_clk156_rec = PERIOD clk156_rec 156.25MHz;

# 10GE MAC INTERFACES ##########################################################

# False paths on an internal counter load
# MAC 0
INST "nf10_10g_interface_0/nf10_10g_interface_0/xgmac/BU2/U0/G_FLOWCONTROL.flwctrl/tx/data_avail_in_reg_*" TNM = "mac0_xgmac_ifg_false_paths_src_1";
INST "nf10_10g_interface_0/nf10_10g_interface_0/xgmac/BU2/U0/G_FLOWCONTROL.flwctrl/tx/pause_amber_reg" TNM = "mac0_xgmac_ifg_false_paths_src_1";
INST "nf10_10g_interface_0/nf10_10g_interface_0/xgmac/BU2/U0/G_FLOWCONTROL.flwctrl/tx/mux_control_state_*" TNM = "mac0_xgmac_ifg_false_paths_src_1";
INST "nf10_10g_interface_0/nf10_10g_interface_0/xgmac/BU2/U0/G_TX.txgen/tx_controller_inst/ifg_control_inst/state_*" TNM = "mac0_xgmac_ifg_false_paths_src_1";
INST "nf10_10g_interface_0/nf10_10g_interface_0/xgmac/BU2/U0/G_TX.txgen/tx_controller_inst/ifg_control_inst/eof_during_pad" TNM = "mac0_xgmac_ifg_false_paths_src_1";
INST "nf10_10g_interface_0/nf10_10g_interface_0/xgmac/BU2/U0/G_TX.txgen/tx_controller_inst/ifg_control_inst/ifg_counter/count_*" TNM = "mac0_xgmac_ifg_false_paths_dst_1";
NET  "nf10_10g_interface_0/nf10_10g_interface_0/xgmac/BU2/U0/G_TX.txgen/tx_controller_inst/ifg_control_inst/ifg_count_init<*>" TPTHRU = "mac0_xgmac_ifg_false_paths_thru_1";
INST "nf10_10g_interface_0/nf10_10g_interface_0/xgmac/BU2/U0/G_TX.txgen/tx_controller_inst/ifg_control_inst/ifg_counter/Mcount_count_cy<?>" TPTHRU = "mac0_xgmac_ifg_false_paths_thru_2";
TIMESPEC "TS_mac0_xgmac_ifg_false_paths_thru_1" = FROM "mac0_xgmac_ifg_false_paths_src_1" THRU "mac0_xgmac_ifg_false_paths_thru_1" THRU "mac0_xgmac_ifg_false_paths_thru_2" TO "mac0_xgmac_ifg_false_paths_dst_1" TIG;

# MAC 1
INST "nf10_10g_interface_1/nf10_10g_interface_1/xgmac/BU2/U0/G_FLOWCONTROL.flwctrl/tx/data_avail_in_reg_*" TNM = "mac1_xgmac_ifg_false_paths_src_1";
INST "nf10_10g_interface_1/nf10_10g_interface_1/xgmac/BU2/U0/G_FLOWCONTROL.flwctrl/tx/pause_amber_reg" TNM = "mac1_xgmac_ifg_false_paths_src_1";
INST "nf10_10g_interface_1/nf10_10g_interface_1/xgmac/BU2/U0/G_FLOWCONTROL.flwctrl/tx/mux_control_state_*" TNM = "mac1_xgmac_ifg_false_paths_src_1";
INST "nf10_10g_interface_1/nf10_10g_interface_1/xgmac/BU2/U0/G_TX.txgen/tx_controller_inst/ifg_control_inst/state_*" TNM = "mac1_xgmac_ifg_false_paths_src_1";
INST "nf10_10g_interface_1/nf10_10g_interface_1/xgmac/BU2/U0/G_TX.txgen/tx_controller_inst/ifg_control_inst/eof_during_pad" TNM = "mac1_xgmac_ifg_false_paths_src_1";
INST "nf10_10g_interface_1/nf10_10g_interface_1/xgmac/BU2/U0/G_TX.txgen/tx_controller_inst/ifg_control_inst/ifg_counter/count_*" TNM = "mac1_xgmac_ifg_false_paths_dst_1";
NET  "nf10_10g_interface_1/nf10_10g_interface_1/xgmac/BU2/U0/G_TX.txgen/tx_controller_inst/ifg_control_inst/ifg_count_init<*>" TPTHRU = "mac1_xgmac_ifg_false_paths_thru_1";
INST "nf10_10g_interface_1/nf10_10g_interface_1/xgmac/BU2/U0/G_TX.txgen/tx_controller_inst/ifg_control_inst/ifg_counter/Mcount_count_cy<?>" TPTHRU = "mac1_xgmac_ifg_false_paths_thru_2";
TIMESPEC "TS_mac1_xgmac_ifg_false_paths_thru_1" = FROM "mac1_xgmac_ifg_false_paths_src_1" THRU "mac1_xgmac_ifg_false_paths_thru_1" THRU "mac1_xgmac_ifg_false_paths_thru_2" TO "mac1_xgmac_ifg_false_paths_dst_1" TIG;

# MAC 2
INST "nf10_10g_interface_2/nf10_10g_interface_2/xgmac/BU2/U0/G_FLOWCONTROL.flwctrl/tx/data_avail_in_reg_*" TNM = "mac2_xgmac_ifg_false_paths_src_1";
INST "nf10_10g_interface_2/nf10_10g_interface_2/xgmac/BU2/U0/G_FLOWCONTROL.flwctrl/tx/pause_amber_reg" TNM = "mac2_xgmac_ifg_false_paths_src_1";
INST "nf10_10g_interface_2/nf10_10g_interface_2/xgmac/BU2/U0/G_FLOWCONTROL.flwctrl/tx/mux_control_state_*" TNM = "mac2_xgmac_ifg_false_paths_src_1";
INST "nf10_10g_interface_2/nf10_10g_interface_2/xgmac/BU2/U0/G_TX.txgen/tx_controller_inst/ifg_control_inst/state_*" TNM = "mac2_xgmac_ifg_false_paths_src_1";
INST "nf10_10g_interface_2/nf10_10g_interface_2/xgmac/BU2/U0/G_TX.txgen/tx_controller_inst/ifg_control_inst/eof_during_pad" TNM = "mac2_xgmac_ifg_false_paths_src_1";
INST "nf10_10g_interface_2/nf10_10g_interface_2/xgmac/BU2/U0/G_TX.txgen/tx_controller_inst/ifg_control_inst/ifg_counter/count_*" TNM = "mac2_xgmac_ifg_false_paths_dst_1";
NET  "nf10_10g_interface_2/nf10_10g_interface_2/xgmac/BU2/U0/G_TX.txgen/tx_controller_inst/ifg_control_inst/ifg_count_init<*>" TPTHRU = "mac2_xgmac_ifg_false_paths_thru_1";
INST "nf10_10g_interface_2/nf10_10g_interface_2/xgmac/BU2/U0/G_TX.txgen/tx_controller_inst/ifg_control_inst/ifg_counter/Mcount_count_cy<?>" TPTHRU = "mac2_xgmac_ifg_false_paths_thru_2";
TIMESPEC "TS_mac2_xgmac_ifg_false_paths_thru_1" = FROM "mac2_xgmac_ifg_false_paths_src_1" THRU "mac2_xgmac_ifg_false_paths_thru_1" THRU "mac2_xgmac_ifg_false_paths_thru_2" TO "mac2_xgmac_ifg_false_paths_dst_1" TIG;

# MAC 3
INST "nf10_10g_interface_3/nf10_10g_interface_3/xgmac/BU2/U0/G_FLOWCONTROL.flwctrl/tx/data_avail_in_reg_*" TNM = "mac3_xgmac_ifg_false_paths_src_1";
INST "nf10_10g_interface_3/nf10_10g_interface_3/xgmac/BU2/U0/G_FLOWCONTROL.flwctrl/tx/pause_amber_reg" TNM = "mac3_xgmac_ifg_false_paths_src_1";
INST "nf10_10g_interface_3/nf10_10g_interface_3/xgmac/BU2/U0/G_FLOWCONTROL.flwctrl/tx/mux_control_state_*" TNM = "mac3_xgmac_ifg_false_paths_src_1";
INST "nf10_10g_interface_3/nf10_10g_interface_3/xgmac/BU2/U0/G_TX.txgen/tx_controller_inst/ifg_control_inst/state_*" TNM = "mac3_xgmac_ifg_false_paths_src_1";
INST "nf10_10g_interface_3/nf10_10g_interface_3/xgmac/BU2/U0/G_TX.txgen/tx_controller_inst/ifg_control_inst/eof_during_pad" TNM = "mac3_xgmac_ifg_false_paths_src_1";
INST "nf10_10g_interface_3/nf10_10g_interface_3/xgmac/BU2/U0/G_TX.txgen/tx_controller_inst/ifg_control_inst/ifg_counter/count_*" TNM = "mac3_xgmac_ifg_false_paths_dst_1";
NET  "nf10_10g_interface_3/nf10_10g_interface_3/xgmac/BU2/U0/G_TX.txgen/tx_controller_inst/ifg_control_inst/ifg_count_init<*>" TPTHRU = "mac3_xgmac_ifg_false_paths_thru_1";
INST "nf10_10g_interface_3/nf10_10g_interface_3/xgmac/BU2/U0/G_TX.txgen/tx_controller_inst/ifg_control_inst/ifg_counter/Mcount_count_cy<?>" TPTHRU = "mac3_xgmac_ifg_false_paths_thru_2";
TIMESPEC "TS_mac3_xgmac_ifg_false_paths_thru_1" = FROM "mac3_xgmac_ifg_false_paths_src_1" THRU "mac3_xgmac_ifg_false_paths_thru_1" THRU "mac3_xgmac_ifg_false_paths_thru_2" TO "mac3_xgmac_ifg_false_paths_dst_1" TIG;

# Flow control clock crossing timing constraint
# MAC 0
INST "nf10_10g_interface_0/nf10_10g_interface_0/xgmac/BU2/U0/G_FLOWCONTROL.flwctrl/G_RX.pause/rx_pause_control_i/good_frame_to_tx" TNM = "mac0_flow_grp";
INST "nf10_10g_interface_0/nf10_10g_interface_0/xgmac/BU2/U0/G_FLOWCONTROL.flwctrl/G_RX.pause/rx_pause_control_i/pause_value_to_tx_*" TNM = "mac0_flow_grp";
INST "nf10_10g_interface_0/nf10_10g_interface_0/xgmac/BU2/U0/G_FLOWCONTROL.flwctrl/G_RX.pause/rx_pause_control_i/pause_req_to_tx" TNM = "mac0_flow_grp";
TIMESPEC "TS_mac0_flow" = FROM "mac0_flow_grp" TO "clk156_top" 6400 ps DATAPATHONLY;

# MAC 1
INST "nf10_10g_interface_1/nf10_10g_interface_1/xgmac/BU2/U0/G_FLOWCONTROL.flwctrl/G_RX.pause/rx_pause_control_i/good_frame_to_tx" TNM = "mac1_flow_grp";
INST "nf10_10g_interface_1/nf10_10g_interface_1/xgmac/BU2/U0/G_FLOWCONTROL.flwctrl/G_RX.pause/rx_pause_control_i/pause_value_to_tx_*" TNM = "mac1_flow_grp";
INST "nf10_10g_interface_1/nf10_10g_interface_1/xgmac/BU2/U0/G_FLOWCONTROL.flwctrl/G_RX.pause/rx_pause_control_i/pause_req_to_tx" TNM = "mac1_flow_grp";
TIMESPEC "TS_mac1_flow" = FROM "mac1_flow_grp" TO "clk156_top" 6400 ps DATAPATHONLY;

# MAC 2
INST "nf10_10g_interface_2/nf10_10g_interface_2/xgmac/BU2/U0/G_FLOWCONTROL.flwctrl/G_RX.pause/rx_pause_control_i/good_frame_to_tx" TNM = "mac2_flow_grp";
INST "nf10_10g_interface_2/nf10_10g_interface_2/xgmac/BU2/U0/G_FLOWCONTROL.flwctrl/G_RX.pause/rx_pause_control_i/pause_value_to_tx_*" TNM = "mac2_flow_grp";
INST "nf10_10g_interface_2/nf10_10g_interface_2/xgmac/BU2/U0/G_FLOWCONTROL.flwctrl/G_RX.pause/rx_pause_control_i/pause_req_to_tx" TNM = "mac2_flow_grp";
TIMESPEC "TS_mac2_flow" = FROM "mac2_flow_grp" TO "clk156_top" 6400 ps DATAPATHONLY;

# MAC 3
INST "nf10_10g_interface_3/nf10_10g_interface_3/xgmac/BU2/U0/G_FLOWCONTROL.flwctrl/G_RX.pause/rx_pause_control_i/good_frame_to_tx" TNM = "mac3_flow_grp";
INST "nf10_10g_interface_3/nf10_10g_interface_3/xgmac/BU2/U0/G_FLOWCONTROL.flwctrl/G_RX.pause/rx_pause_control_i/pause_value_to_tx_*" TNM = "mac3_flow_grp";
INST "nf10_10g_interface_3/nf10_10g_interface_3/xgmac/BU2/U0/G_FLOWCONTROL.flwctrl/G_RX.pause/rx_pause_control_i/pause_req_to_tx" TNM = "mac3_flow_grp";
TIMESPEC "TS_mac3_flow" = FROM "mac3_flow_grp" TO "clk156_top" 6400 ps DATAPATHONLY;

#NET "*xgmac/BU2/U0/G_RX_RESET.sync_rx_reset_i/reset_out*" MAXDELAY = 5000 ps;
#NET "*xgmac/BU2/U0/G_TX_RESET.sync_tx_reset_i/reset_out*" MAXDELAY = 5000 ps;
#NET "*xgmac/BU2/U0/G_TX_RESET.sync_flow_ctrl_tx_reset_i/reset_out*" MAXDELAY = 5000 ps;
#NET "*xgmac/BU2/U0/G_RX_RESET.sync_flow_ctrl_rx_reset_i/reset_out*" MAXDELAY = 5000 ps;

NET "*xgmac/BU2/U0/G_RX_RESET.sync_rx_reset_i/reset_out*" TIG;
NET "*xgmac/BU2/U0/G_TX_RESET.sync_tx_reset_i/reset_out*" TIG;
NET "*xgmac/BU2/U0/G_TX_RESET.sync_flow_ctrl_tx_reset_i/reset_out*" TIG;
NET "*xgmac/BU2/U0/G_RX_RESET.sync_flow_ctrl_rx_reset_i/reset_out*" TIG;

# SRAM #####################################################################

#DCI_CASCADING
CONFIG DCI_CASCADE = "23 27 13 25 29";
CONFIG DCI_CASCADE = "24 28 30 26 14";
CONFIG DCI_CASCADE = "5 7";

NET "qdr_d_0[*]"           IOSTANDARD = HSTL_II_18;
NET "qdr_q_0[*]"           IOSTANDARD = HSTL_II_DCI_18;
NET "qdr_sa_0[*]"          IOSTANDARD = HSTL_II_18;
NET "qdr_w_n_0"            IOSTANDARD = HSTL_II_18;
NET "qdr_r_n_0"            IOSTANDARD = HSTL_II_18;
NET "qdr_dll_off_n_0"      IOSTANDARD = HSTL_II_18;
NET "qdr_bw_n_0[0]"        IOSTANDARD = HSTL_II_18;
NET "qdr_bw_n_0[1]"        IOSTANDARD = HSTL_II_18;
NET "qdr_bw_n_0[2]"        IOSTANDARD = HSTL_II_18;
NET "qdr_bw_n_0[3]"        IOSTANDARD = HSTL_II_18;
NET "qdr_cq_0"             IOSTANDARD = HSTL_II_DCI_18;
NET "qdr_cq_n_0"           IOSTANDARD = HSTL_II_DCI_18;
NET "qdr_k_0"              IOSTANDARD = HSTL_II_18;
NET "qdr_k_n_0"            IOSTANDARD = HSTL_II_18;
NET "qdr_c_0"              IOSTANDARD = HSTL_II_18;
NET "qdr_c_n_0"            IOSTANDARD = HSTL_II_18;
NET "qdr_d_1[*]"           IOSTANDARD = HSTL_II_18;
NET "qdr_q_1[*]"           IOSTANDARD = HSTL_II_DCI_18;
NET "qdr_sa_1[*]"          IOSTANDARD = HSTL_II_18;
NET "qdr_w_n_1"            IOSTANDARD = HSTL_II_18;
NET "qdr_r_n_1"            IOSTANDARD = HSTL_II_18;
NET "qdr_dll_off_n_1"      IOSTANDARD = HSTL_II_18;
NET "qdr_bw_n_1[0]"        IOSTANDARD = HSTL_II_18;
NET "qdr_bw_n_1[1]"        IOSTANDARD = HSTL_II_18;
NET "qdr_bw_n_1[2]"        IOSTANDARD = HSTL_II_18;
NET "qdr_bw_n_1[3]"        IOSTANDARD = HSTL_II_18;
NET "qdr_cq_1"             IOSTANDARD = HSTL_II_DCI_18;
NET "qdr_cq_n_1"           IOSTANDARD = HSTL_II_DCI_18;
NET "qdr_k_1"              IOSTANDARD = HSTL_II_18;
NET "qdr_k_n_1"            IOSTANDARD = HSTL_II_18;
NET "qdr_c_1"              IOSTANDARD = HSTL_II_18;
NET "qdr_c_n_1"            IOSTANDARD = HSTL_II_18;
NET "qdr_masterbank_sel_0" IOSTANDARD = HSTL_II_DCI_18;
NET "qdr_masterbank_sel_1" IOSTANDARD = HSTL_II_DCI_18;
NET "qdr_cq_n_0"           S;
NET "qdr_masterbank_sel_0" S;
NET "qdr_cq_n_1"           S;
NET "qdr_masterbank_sel_1" S;

# PINOUT
NET  "qdr_d_0[0]"           LOC = "Y29" ;    
NET  "qdr_d_0[1]"           LOC = "Y30" ;    
NET  "qdr_d_0[2]"           LOC = "W31" ;    
NET  "qdr_d_0[3]"           LOC = "W30" ;    
NET  "qdr_d_0[4]"           LOC = "AA31" ;   
NET  "qdr_d_0[5]"           LOC = "AA30" ;   
NET  "qdr_d_0[6]"           LOC = "Y35" ;    
NET  "qdr_d_0[7]"           LOC = "AA35" ;   
NET  "qdr_d_0[8]"           LOC = "U33" ;    
NET  "qdr_d_0[9]"           LOC = "AB36" ;   
NET  "qdr_d_0[10]"          LOC = "AC36" ;   
NET  "qdr_d_0[11]"          LOC = "V33" ;    
NET  "qdr_d_0[12]"          LOC = "U32" ;    
NET  "qdr_d_0[13]"          LOC = "AA34" ;   
NET  "qdr_d_0[14]"          LOC = "AB34" ;   
NET  "qdr_d_0[15]"          LOC = "V31" ;    
NET  "qdr_d_0[16]"          LOC = "U31" ;    
NET  "qdr_d_0[17]"          LOC = "AB31" ;   
NET  "qdr_d_0[18]"          LOC = "AB32" ;   
NET  "qdr_d_0[19]"          LOC = "W36" ;    
NET  "qdr_d_0[20]"          LOC = "W35" ;    
NET  "qdr_d_0[21]"          LOC = "Y37" ;    
NET  "qdr_d_0[22]"          LOC = "AA37" ;   
NET  "qdr_d_0[23]"          LOC = "V36" ;    
NET  "qdr_d_0[24]"          LOC = "W37" ;    
NET  "qdr_d_0[25]"          LOC = "AA36" ;   
NET  "qdr_d_0[26]"          LOC = "W32" ;     
NET  "qdr_d_0[27]"          LOC = "W33" ;     
NET  "qdr_d_0[28]"          LOC = "AA32" ;    
NET  "qdr_d_0[29]"          LOC = "Y32" ;   
NET  "qdr_d_0[30]"          LOC = "V34" ;   
NET  "qdr_d_0[31]"          LOC = "V35" ;   
NET  "qdr_d_0[32]"          LOC = "Y34" ;   
NET  "qdr_d_0[33]"          LOC = "Y33" ;     
NET  "qdr_d_0[34]"          LOC = "T37" ;     
NET  "qdr_d_0[35]"          LOC = "U37" ;     
NET  "qdr_q_0[0]"           LOC = "K30" ;     
NET  "qdr_q_0[1]"           LOC = "L30" ;     
NET  "qdr_q_0[2]"           LOC = "H30" ;     
NET  "qdr_q_0[3]"           LOC = "J30" ;     
NET  "qdr_q_0[4]"           LOC = "L32" ;     
NET  "qdr_q_0[5]"           LOC = "M33" ;     
NET  "qdr_q_0[6]"           LOC = "F31" ;     
NET  "qdr_q_0[7]"           LOC = "G31" ;     
NET  "qdr_q_0[8]"           LOC = "M32" ;     
NET  "qdr_q_0[9]"           LOC = "M31" ;     
NET  "qdr_q_0[10]"          LOC = "F30" ;     
NET  "qdr_q_0[11]"          LOC = "N30" ;     
NET  "qdr_q_0[12]"          LOC = "N31" ;     
NET  "qdr_q_0[13]"          LOC = "F29" ;     
NET  "qdr_q_0[14]"          LOC = "E29" ;     
NET  "qdr_q_0[15]"          LOC = "P32" ;     
NET  "qdr_q_0[16]"          LOC = "P31" ;     
NET  "qdr_q_0[17]"          LOC = "H29" ;      
NET  "qdr_q_0[18]"          LOC = "G29" ;      
NET  "qdr_q_0[19]"          LOC = "R30" ;      
NET  "qdr_q_0[20]"          LOC = "P30" ;      
NET  "qdr_q_0[21]"          LOC = "H33" ;      
NET  "qdr_q_0[22]"          LOC = "J32" ;      
NET  "qdr_q_0[23]"          LOC = "G36" ;      
NET  "qdr_q_0[24]"          LOC = "F35" ;      
NET  "qdr_q_0[25]"          LOC = "G34" ;      
NET  "qdr_q_0[26]"          LOC = "F34" ;      
NET  "qdr_q_0[27]"          LOC = "E36" ;      
NET  "qdr_q_0[28]"          LOC = "F32" ;      
NET  "qdr_q_0[29]"          LOC = "G32" ;      
NET  "qdr_q_0[30]"          LOC = "F37" ;      
NET  "qdr_q_0[31]"          LOC = "E37" ;      
NET  "qdr_q_0[32]"          LOC = "J31" ;      
NET  "qdr_q_0[33]"          LOC = "H31" ;      
NET  "qdr_q_0[34]"          LOC = "K32" ;      
NET  "qdr_cq_0"             LOC = "L31" ;      
NET  "qdr_q_0[35]"          LOC = "L29" ;      
NET  "qdr_cq_n_0"           LOC = "K29" ;      
NET  "qdr_sa_0[0]"          LOC = "H34" ;      
NET  "qdr_sa_0[1]"          LOC = "J33" ;      
NET  "qdr_sa_0[2]"          LOC = "M36" ;      
NET  "qdr_sa_0[3]"          LOC = "N36" ;      
NET  "qdr_sa_0[4]"          LOC = "N33" ;      
NET  "qdr_sa_0[5]"          LOC = "P33" ;      
NET  "qdr_sa_0[6]"          LOC = "R32" ;      
NET  "qdr_sa_0[7]"          LOC = "R33" ;      
NET  "qdr_sa_0[8]"          LOC = "N34" ;        
NET  "qdr_sa_0[9]"          LOC = "J35" ;        
NET  "qdr_sa_0[10]"         LOC = "J36" ;        
NET  "qdr_sa_0[11]"         LOC = "L37" ;        
NET  "qdr_sa_0[12]"         LOC = "M37" ;        
NET  "qdr_sa_0[13]"         LOC = "K38" ;        
NET  "qdr_sa_0[14]"         LOC = "K37" ;        
NET  "qdr_sa_0[15]"         LOC = "T32" ;        
NET  "qdr_sa_0[16]"         LOC = "T31" ;        
NET  "qdr_sa_0[17]"         LOC = "K35" ;        
NET  "qdr_sa_0[18]"         LOC = "L34" ;        
NET  "qdr_bw_n_0[0]"        LOC = "P37" ;        
NET  "qdr_w_n_0"            LOC = "P38" ;        
NET  "qdr_bw_n_0[1]"        LOC = "R38" ;        
NET  "qdr_r_n_0"            LOC = "G37" ;        
NET  "qdr_bw_n_0[2]"        LOC = "P36" ;        
NET  "qdr_masterbank_sel_0" LOC = "R35" ;        
NET  "qdr_k_n_0"            LOC = "K33" ;        
NET  "qdr_k_0"              LOC = "K34" ;        
NET  "qdr_c_n_0"            LOC = "N35" ;        
NET  "qdr_c_0"              LOC = "P35" ;        
NET  "qdr_bw_n_0[3]"        LOC = "J38" ;        
NET  "qdr_dll_off_n_0"      LOC = "J37" ;        
NET  "qdr_d_1[0]"           LOC = "P5" ;         
NET  "qdr_d_1[1]"           LOC = "R5" ;         
NET  "qdr_d_1[2]"           LOC = "AA10" ;       
NET  "qdr_d_1[3]"           LOC = "AA11" ;       
NET  "qdr_d_1[4]"           LOC = "T7" ;         
NET  "qdr_d_1[5]"           LOC = "U7" ;         
NET  "qdr_d_1[6]"           LOC = "W10" ;        
NET  "qdr_d_1[7]"           LOC = "W11" ;        
NET  "qdr_d_1[8]"           LOC = "AC9" ;        
NET  "qdr_d_1[9]"           LOC = "V9" ;         
NET  "qdr_d_1[10]"          LOC = "V8" ;         
NET  "qdr_d_1[11]"          LOC = "AC10" ;       
NET  "qdr_d_1[12]"          LOC = "AD11" ;       
NET  "qdr_d_1[13]"          LOC = "P7" ;         
NET  "qdr_d_1[14]"          LOC = "R7" ;         
NET  "qdr_d_1[15]"          LOC = "AB11" ;       
NET  "qdr_d_1[16]"          LOC = "AC11" ;       
NET  "qdr_d_1[17]"          LOC = "N6" ;         
NET  "qdr_d_1[18]"          LOC = "P6" ;         
NET  "qdr_d_1[19]"          LOC = "Y8" ;         
NET  "qdr_d_1[20]"          LOC = "Y7" ;         
NET  "qdr_d_1[21]"          LOC = "T5" ;         
NET  "qdr_d_1[22]"          LOC = "T6" ;         
NET  "qdr_d_1[23]"          LOC = "Y10" ;        
NET  "qdr_d_1[24]"          LOC = "AA9" ;        
NET  "qdr_d_1[25]"          LOC = "V6" ;         
NET  "qdr_d_1[26]"          LOC = "AA6" ;        
NET  "qdr_d_1[27]"          LOC = "AA7" ;        
NET  "qdr_d_1[28]"          LOC = "Y9" ;         
NET  "qdr_d_1[29]"          LOC = "W8" ;         
NET  "qdr_d_1[30]"          LOC = "AC6" ;        
NET  "qdr_d_1[31]"          LOC = "AB6" ;        
NET  "qdr_d_1[32]"          LOC = "W6" ;         
NET  "qdr_d_1[33]"          LOC = "W7" ;         
NET  "qdr_d_1[34]"          LOC = "AB7" ;        
NET  "qdr_d_1[35]"          LOC = "AB8" ;        
NET  "qdr_q_1[0]"           LOC = "F9" ;         
NET  "qdr_q_1[1]"           LOC = "F10" ;        
NET  "qdr_q_1[2]"           LOC = "L11" ;        
NET  "qdr_q_1[3]"           LOC = "L10" ;        
NET  "qdr_q_1[4]"           LOC = "F12" ;        
NET  "qdr_q_1[5]"           LOC = "G12" ;        
NET  "qdr_q_1[6]"           LOC = "M13" ;        
NET  "qdr_q_1[7]"           LOC = "N13" ;        
NET  "qdr_q_1[8]"           LOC = "G13" ;        
NET  "qdr_q_1[9]"           LOC = "H13" ;        
NET  "qdr_q_1[10]"          LOC = "M11" ;        
NET  "qdr_q_1[11]"          LOC = "F14" ;        
NET  "qdr_q_1[12]"          LOC = "E14" ;        
NET  "qdr_q_1[13]"          LOC = "N11" ;        
NET  "qdr_q_1[14]"          LOC = "P11" ;        
NET  "qdr_q_1[15]"          LOC = "G14" ;        
NET  "qdr_q_1[16]"          LOC = "F15" ;        
NET  "qdr_q_1[17]"          LOC = "R12" ;        
NET  "qdr_q_1[18]"          LOC = "P12" ;        
NET  "qdr_q_1[19]"          LOC = "H15" ;        
NET  "qdr_q_1[20]"          LOC = "H14" ;        
NET  "qdr_q_1[21]"          LOC = "H10" ;        
NET  "qdr_q_1[22]"          LOC = "J11" ;        
NET  "qdr_q_1[23]"          LOC = "F11" ;        
NET  "qdr_q_1[24]"          LOC = "G11" ;        
NET  "qdr_q_1[25]"          LOC = "H9" ;         
NET  "qdr_q_1[26]"          LOC = "G9" ;         
NET  "qdr_q_1[27]"          LOC = "E12" ;        
NET  "qdr_q_1[28]"          LOC = "K10" ;        
NET  "qdr_q_1[29]"          LOC = "J10" ;        
NET  "qdr_q_1[30]"          LOC = "J13" ;        
NET  "qdr_q_1[31]"          LOC = "K14" ;        
NET  "qdr_q_1[32]"          LOC = "K12" ;        
NET  "qdr_q_1[33]"          LOC = "K13" ;        
NET  "qdr_q_1[34]"          LOC = "J12" ;        
NET  "qdr_cq_1"             LOC = "H11" ;        
NET  "qdr_q_1[35]"          LOC = "M12" ;        
NET  "qdr_cq_n_1"           LOC = "L12" ;        
NET  "qdr_sa_1[0]"          LOC = "U12" ;        
NET  "qdr_sa_1[1]"          LOC = "V11" ;        
NET  "qdr_sa_1[2]"          LOC = "R10" ;        
NET  "qdr_sa_1[3]"          LOC = "P10" ;        
NET  "qdr_sa_1[4]"          LOC = "P8" ;         
NET  "qdr_sa_1[5]"          LOC = "R9" ;         
NET  "qdr_sa_1[6]"          LOC = "T10" ;        
NET  "qdr_sa_1[7]"          LOC = "T11" ;        
NET  "qdr_sa_1[8]"          LOC = "J6" ;         
NET  "qdr_sa_1[9]"          LOC = "N8" ;         
NET  "qdr_sa_1[10]"         LOC = "M8" ;         
NET  "qdr_sa_1[11]"         LOC = "M9" ;         
NET  "qdr_sa_1[12]"         LOC = "N9" ;         
NET  "qdr_sa_1[13]"         LOC = "M6" ;         
NET  "qdr_sa_1[14]"         LOC = "M7" ;         
NET  "qdr_sa_1[15]"         LOC = "K8" ;         
NET  "qdr_sa_1[16]"         LOC = "J7" ;         
NET  "qdr_sa_1[17]"         LOC = "L7" ;         
NET  "qdr_sa_1[18]"         LOC = "K7" ;         
NET  "qdr_bw_n_1[0]"        LOC = "G8" ;         
NET  "qdr_w_n_1"            LOC = "G7" ;         
NET  "qdr_bw_n_1[1]"        LOC = "U11" ;        
NET  "qdr_r_n_1"            LOC = "V10" ;        
NET  "qdr_bw_n_1[2]"        LOC = "E8" ;         
NET  "qdr_k_n_1"            LOC = "L6" ;         
NET  "qdr_k_1"              LOC = "F6" ;         
NET  "qdr_c_n_1"            LOC = "G6" ;         
NET  "qdr_c_1"              LOC = "U8" ;         
NET  "qdr_bw_n_1[3]"        LOC = "U9" ;         
NET  "qdr_dll_off_n_1"      LOC = "H5" ;         
NET  "qdr_masterbank_sel_1" LOC = "R8" ;         

NET "qdr_d_0[*]"            IOSTANDARD = HSTL_II_18;
NET "qdr_q_0[*]"            IOSTANDARD = HSTL_II_DCI_18;
NET "qdr_sa_0[*]"           IOSTANDARD = HSTL_II_18;
NET "qdr_w_n_0"             IOSTANDARD = HSTL_II_18;
NET "qdr_r_n_0"             IOSTANDARD = HSTL_II_18;
NET "qdr_dll_off_n_0"       IOSTANDARD = HSTL_II_18;
NET "qdr_bw_n_0[0]"         IOSTANDARD = HSTL_II_18;
NET "qdr_bw_n_0[1]"         IOSTANDARD = HSTL_II_18;
NET "qdr_bw_n_0[2]"         IOSTANDARD = HSTL_II_18;
NET "qdr_bw_n_0[3]"         IOSTANDARD = HSTL_II_18;
NET "qdr_cq_0"              IOSTANDARD = HSTL_II_DCI_18;
NET "qdr_cq_n_0"            IOSTANDARD = HSTL_II_DCI_18;
NET "qdr_k_0"               IOSTANDARD = HSTL_II_18;
NET "qdr_k_n_0"             IOSTANDARD = HSTL_II_18;
NET "qdr_c_0"               IOSTANDARD = HSTL_II_18;
NET "qdr_c_n_0"             IOSTANDARD = HSTL_II_18;
NET "qdr_d_1[*]"            IOSTANDARD = HSTL_II_18;
NET "qdr_q_1[*]"            IOSTANDARD = HSTL_II_DCI_18;
NET "qdr_sa_1[*]"           IOSTANDARD = HSTL_II_18;
NET "qdr_w_n_1"             IOSTANDARD = HSTL_II_18;
NET "qdr_r_n_1"             IOSTANDARD = HSTL_II_18;
NET "qdr_dll_off_n_1"       IOSTANDARD = HSTL_II_18;
NET "qdr_bw_n_1[0]"         IOSTANDARD = HSTL_II_18;
NET "qdr_bw_n_1[1]"         IOSTANDARD = HSTL_II_18;
NET "qdr_bw_n_1[2]"         IOSTANDARD = HSTL_II_18;
NET "qdr_bw_n_1[3]"         IOSTANDARD = HSTL_II_18;
NET "qdr_cq_1"              IOSTANDARD = HSTL_II_DCI_18;
NET "qdr_cq_n_1"            IOSTANDARD = HSTL_II_DCI_18;
NET "qdr_k_1"               IOSTANDARD = HSTL_II_18;
NET "qdr_k_n_1"             IOSTANDARD = HSTL_II_18;
NET "qdr_c_1"               IOSTANDARD = HSTL_II_18;
NET "qdr_c_n_1"             IOSTANDARD = HSTL_II_18;
NET "qdr_masterbank_sel_0"  IOSTANDARD = HSTL_II_DCI_18;
NET "qdr_masterbank_sel_1"  IOSTANDARD = HSTL_II_DCI_18;
NET "qdr_cq_n_0"            S;
NET "qdr_masterbank_sel_0"  S;
NET "qdr_cq_n_1"            S;
NET "qdr_masterbank_sel_1"  S;

# PCIE #####################################################################
NET "dma_0/dma_0/ep/pcie_ep0/pcie_blk/SIO/.pcie_gt_wrapper_i/gt_refclk_out[0]" TNM_NET = "MGTCLK" ;
TIMESPEC "TS_MGTCLK"  = PERIOD "MGTCLK" 100.00 MHz HIGH 50 % ;

NET  "pcie_clk_p" LOC = AT4;
NET  "pcie_clk_n" LOC = AT3;
INST "dma_0/dma_0/pcie_clk_ibuf"  DIFF_TERM = "TRUE";
INST "dma_0/dma_0/ep/pcie_ep0/pcie_blk/SIO/.pcie_gt_wrapper_i/GTD[0].GT_i" LOC = GTX_DUAL_X1Y5;
INST "dma_0/dma_0/ep/pcie_ep0/pcie_blk/SIO/.pcie_gt_wrapper_i/GTD[2].GT_i" LOC = GTX_DUAL_X1Y4;
INST "dma_0/dma_0/ep/pcie_ep0/pcie_blk/SIO/.pcie_gt_wrapper_i/GTD[4].GT_i" LOC = GTX_DUAL_X1Y3;
INST "dma_0/dma_0/ep/pcie_ep0/pcie_blk/SIO/.pcie_gt_wrapper_i/GTD[6].GT_i" LOC = GTX_DUAL_X1Y2;

# BlockRAM placement...
INST "dma_0/dma_0/ep/pcie_ep0/pcie_blk/pcie_mim_wrapper_i/bram_retry/generate_sdp.ram_sdp_inst"      LOC = RAMB36_X5Y20 ;
INST "dma_0/dma_0/ep/pcie_ep0/pcie_blk/pcie_mim_wrapper_i/bram_tl_tx/generate_tdp2[1].ram_tdp2_inst" LOC = RAMB36_X5Y19 ;
INST "dma_0/dma_0/ep/pcie_ep0/pcie_blk/pcie_mim_wrapper_i/bram_tl_rx/generate_tdp2[1].ram_tdp2_inst" LOC = RAMB36_X5Y18 ;
INST "dma_0/dma_0/ep/pcie_ep0/pcie_blk/pcie_mim_wrapper_i/bram_tl_tx/generate_tdp2[0].ram_tdp2_inst" LOC = RAMB36_X5Y17 ;
INST "dma_0/dma_0/ep/pcie_ep0/pcie_blk/pcie_mim_wrapper_i/bram_tl_rx/generate_tdp2[0].ram_tdp2_inst" LOC = RAMB36_X5Y16 ;
INST "dma_0/dma_0/ep/pcie_ep0/pcie_blk_if/ll_bridge/rx_bridge/fifo_inst/oq_fifo/Mram_regBank"        LOC = RAMB36_X5Y15 ;

NET "dma_0/dma_0/trn_reset_n_c" TIG;
NET "dma_0/dma_0/trn_lnk_up_n_c" TIG;
