############################################################################
##  File name :       nf10_rldram2_A.ucf
##  Xilinx / Michaela Blott
##  Muhammad Shahbaz
##  Details :     Constraints file
##                    FPGA family:       virtex5
##                    FPGA:              xc5vtx240t-ff1759
##                    Speedgrade:        -2
##
############################################################################
CONFIG PART = xc5vtx240tff1759-2;

############################################################################
#DCI_CASCADING
CONFIG DCI_CASCADE = "23 27 13 25 29";
CONFIG DCI_CASCADE = "24 28 30 26 14";
CONFIG DCI_CASCADE = "5 7";

############################################################################

############################################################################
# PINOUT
# BANK 4
# CONFIGURABLE CLK FROM X2
NET "sysClk_n" LOC = AM26;
# CONFIGURABLE CLK FROM X2
NET "sysClk_p" LOC = AL26;

NET "sysRst_n" TIG;
NET "sysRst_n" IOSTANDARD = LVCMOS33;
NET "sysRst_n" LOC = AL24;

############################################################################
# RLDRAM SECTION
###########################################################################
# PINOUT ###################################################################
NET "RLD2_A[0]" LOC = AM5;
NET "RLD2_A[1]" LOC = AM7;
NET "RLD2_A[2]" LOC = AM6;
NET "RLD2_A[3]" LOC = AD6;
NET "RLD2_A[4]" LOC = AD7;
NET "RLD2_A[5]" LOC = AG11;
NET "RLD2_A[6]" LOC = AF11;
NET "RLD2_A[7]" LOC = AF7;
NET "RLD2_A[8]" LOC = AE8;
NET "RLD2_A[9]" LOC = AH11;
NET "RLD2_A[10]" LOC = AF6;
NET "RLD2_A[11]" LOC = AF5;
NET "RLD2_A[12]" LOC = AL9;
NET "RLD2_A[13]" LOC = AK9;
NET "RLD2_A[14]" LOC = AH5;
NET "RLD2_A[15]" LOC = AG6;
NET "RLD2_A[16]" LOC = AG9;
NET "RLD2_A[17]" LOC = AF10;
NET "RLD2_A[18]" LOC = AH6;
NET "RLD2_A[19]" LOC = AG7;
NET "RLD2_BA[0]" LOC = AE10;
NET "RLD2_BA[1]" LOC = AD10;
NET "RLD2_BA[2]" LOC = AN5;
NET "RLD2_WE_N" LOC = AF12;
NET "RLD2_REF_N" LOC = AG12;
NET "RLD2_CS_N[0]" LOC = AK7;
NET "RLD2_CK_N[0]" LOC = AH8;
NET "RLD2_CK_P[0]" LOC = AG8;
NET "RLD2_CK_N[1]" LOC = AL7;
NET "RLD2_CK_P[1]" LOC = AK8;
NET "RLD2_DK_P[0]" LOC = AF9;
NET "RLD2_DK_N[0]" LOC = AE9;
NET "RLD2_DK_P[1]" LOC = AP5;
NET "RLD2_DK_N[1]" LOC = AP6;
NET "RLD2_DK_P[2]" LOC = AH9;
NET "RLD2_DK_N[2]" LOC = AJ8;
NET "RLD2_DK_P[3]" LOC = AJ6;
NET "RLD2_DK_N[3]" LOC = AJ7;
NET "RLD2_QVLD[0]" LOC = AT14;
NET "RLD2_QVLD[1]" LOC = AT10;
NET "RLD2_DQ[0]" LOC = AR18;
NET "RLD2_DQ[1]" LOC = AR19;
NET "RLD2_QK_N[0]" LOC = AN15;
NET "RLD2_QK_P[0]" LOC = AN14;
NET "RLD2_QK_N[1]" LOC = AP17;
NET "RLD2_QK_P[1]" LOC = AN16;
NET "RLD2_CS_N[1]" LOC = AU13;
NET "RLD2_DQ[2]" LOC = AU16;
NET "RLD2_DQ[3]" LOC = AT16;
NET "RLD2_DQ[4]" LOC = AP15;
NET "RLD2_DQ[5]" LOC = AP16;
NET "RLD2_DQ[6]" LOC = AR15;
NET "RLD2_DQ[7]" LOC = AL14;
#NET 	 "RLD2_DQ<8>"    LOC = "" ;
NET "RLD2_DQ[9]" LOC = AM14;
NET "RLD2_DQ[10]" LOC = AT15;
NET "RLD2_DQ[11]" LOC = AU14;
NET "RLD2_DQ[12]" LOC = AV13;
NET "RLD2_DQ[13]" LOC = AU12;
NET "RLD2_DQ[14]" LOC = AL15;
NET "RLD2_DQ[15]" LOC = AK15;
NET "RLD2_DQ[16]" LOC = AH15;
#NET 	 "RLD2_DQ<17>"   LOC = "" ;
NET "RLD2_DQ[18]" LOC = AJ15;
NET "RLD2_DQ[19]" LOC = AP18;
NET "RLD2_DQ[20]" LOC = AN18;
NET "RLD2_DQ[21]" LOC = AG13;
NET "RLD2_DQ[22]" LOC = AH14;
NET "RLD2_DQ[23]" LOC = AL16;
NET "RLD2_DQ[24]" LOC = AJ13;
NET "RLD2_DQ[25]" LOC = AH13;
#NET 	 "RLD2_DQ<26>"   LOC = "" ;
NET "RLD2_DQ[27]" LOC = AU17;
NET "RLD2_DQ[28]" LOC = AU18;
NET "RLD2_DQ[29]" LOC = AK14;
NET "RLD2_DQ[30]" LOC = AK13;
NET "RLD2_DQ[31]" LOC = AR17;
NET "RLD2_DQ[32]" LOC = AT17;
NET "RLD2_DQ[33]" LOC = AR13;
NET "RLD2_DQ[34]" LOC = AT12;
#NET 	 "RLD2_DQ<35>"   LOC = "" ;
NET "RLD2_DQ[36]" LOC = AR9;
NET "RLD2_DQ[37]" LOC = AR8;
NET "RLD2_QK_N[2]" LOC = AL12;
NET "RLD2_QK_P[2]" LOC = AM12;
NET "RLD2_QK_N[3]" LOC = AV7;
NET "RLD2_QK_P[3]" LOC = AU8;
NET "RLD2_DQ[38]" LOC = AT6;
NET "RLD2_DQ[39]" LOC = AU6;
NET "RLD2_DQ[40]" LOC = AU11;
NET "RLD2_DQ[41]" LOC = AN8;
NET "RLD2_DQ[42]" LOC = AP8;
NET "RLD2_DQ[43]" LOC = AR12;
#NET 	 "RLD2_DQ<44>"   LOC = "" ;
NET "RLD2_DQ[45]" LOC = AP13;
NET "RLD2_DQ[46]" LOC = AM8;
NET "RLD2_DQ[47]" LOC = AM9;
NET "RLD2_DQ[48]" LOC = AN13;
NET "RLD2_DQ[49]" LOC = AM13;
NET "RLD2_DQ[50]" LOC = AP7;
NET "RLD2_DQ[51]" LOC = AR6;
NET "RLD2_DQ[52]" LOC = AT9;
#NET 	 "RLD2_DQ<53>"   LOC = "" ;
NET "RLD2_DQ[54]" LOC = AR10;
NET "RLD2_DQ[55]" LOC = AK10;
NET "RLD2_DQ[56]" LOC = AL10;
NET "RLD2_DQ[57]" LOC = AN11;
NET "RLD2_DQ[58]" LOC = AP10;
NET "RLD2_DQ[59]" LOC = AJ10;
NET "RLD2_DQ[60]" LOC = AP12;
NET "RLD2_DQ[61]" LOC = AP11;
#NET 	 "RLD2_DQ<62>"   LOC = "" ;
NET "RLD2_DQ[63]" LOC = AN10;
NET "RLD2_DQ[64]" LOC = AN9;
NET "RLD2_DQ[65]" LOC = AL11;
NET "RLD2_DQ[66]" LOC = AM11;
NET "RLD2_DQ[67]" LOC = AT7;
NET "RLD2_DQ[68]" LOC = AR7;
NET "RLD2_DQ[69]" LOC = AK12;
NET "RLD2_DQ[70]" LOC = AJ12;
#NET 	 "RLD2_DQ<71>"   LOC = "" ;

# IO STANDARDS ##############################################################
NET "RLD2_DQ[0]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[10]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[11]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[12]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[13]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[14]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[15]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[16]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[17]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[18]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[19]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[1]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[20]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[21]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[22]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[23]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[24]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[25]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[26]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[27]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[28]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[29]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[2]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[30]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[31]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[32]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[33]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[34]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[35]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[36]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[37]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[38]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[39]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[3]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[40]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[41]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[42]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[43]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[44]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[45]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[46]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[47]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[48]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[49]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[4]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[50]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[51]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[52]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[53]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[54]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[55]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[56]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[57]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[58]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[59]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[5]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[60]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[61]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[62]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[63]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[64]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[65]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[66]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[67]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[68]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[69]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[6]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[70]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[71]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[7]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[8]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[9]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_QK_P[0]" IOSTANDARD = DIFF_HSTL_II_DCI_18;
NET "RLD2_QK_P[1]" IOSTANDARD = DIFF_HSTL_II_DCI_18;
NET "RLD2_QK_P[2]" IOSTANDARD = DIFF_HSTL_II_DCI_18;
NET "RLD2_QK_P[3]" IOSTANDARD = DIFF_HSTL_II_DCI_18;
NET "RLD2_QK_N[0]" IOSTANDARD = DIFF_HSTL_II_DCI_18;
NET "RLD2_QK_N[1]" IOSTANDARD = DIFF_HSTL_II_DCI_18;
NET "RLD2_QK_N[2]" IOSTANDARD = DIFF_HSTL_II_DCI_18;
NET "RLD2_QK_N[3]" IOSTANDARD = DIFF_HSTL_II_DCI_18;
NET "RLD2_A[0]" IOSTANDARD = HSTL_II_18;
NET "RLD2_A[10]" IOSTANDARD = HSTL_II_18;
NET "RLD2_A[11]" IOSTANDARD = HSTL_II_18;
NET "RLD2_A[12]" IOSTANDARD = HSTL_II_18;
NET "RLD2_A[13]" IOSTANDARD = HSTL_II_18;
NET "RLD2_A[14]" IOSTANDARD = HSTL_II_18;
NET "RLD2_A[15]" IOSTANDARD = HSTL_II_18;
NET "RLD2_A[16]" IOSTANDARD = HSTL_II_18;
NET "RLD2_A[17]" IOSTANDARD = HSTL_II_18;
NET "RLD2_A[18]" IOSTANDARD = HSTL_II_18;
NET "RLD2_A[19]" IOSTANDARD = HSTL_II_18;
NET "RLD2_A[1]" IOSTANDARD = HSTL_II_18;
NET "RLD2_A[2]" IOSTANDARD = HSTL_II_18;
NET "RLD2_A[3]" IOSTANDARD = HSTL_II_18;
NET "RLD2_A[4]" IOSTANDARD = HSTL_II_18;
NET "RLD2_A[5]" IOSTANDARD = HSTL_II_18;
NET "RLD2_A[6]" IOSTANDARD = HSTL_II_18;
NET "RLD2_A[7]" IOSTANDARD = HSTL_II_18;
NET "RLD2_A[8]" IOSTANDARD = HSTL_II_18;
NET "RLD2_A[9]" IOSTANDARD = HSTL_II_18;
NET "RLD2_BA[0]" IOSTANDARD = HSTL_II_18;
NET "RLD2_BA[1]" IOSTANDARD = HSTL_II_18;
NET "RLD2_BA[2]" IOSTANDARD = HSTL_II_18;
NET "RLD2_WE_N" IOSTANDARD = HSTL_II_18;
NET "RLD2_REF_N" IOSTANDARD = HSTL_II_18;
NET "RLD2_CS_N[0]" IOSTANDARD = HSTL_II_18;
NET "RLD2_CS_N[1]" IOSTANDARD = HSTL_II_18;
NET "RLD2_QVLD[0]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_QVLD[1]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DK_P[0]" IOSTANDARD = DIFF_HSTL_II_18;
NET "RLD2_DK_P[1]" IOSTANDARD = DIFF_HSTL_II_18;
NET "RLD2_DK_P[2]" IOSTANDARD = DIFF_HSTL_II_18;
NET "RLD2_DK_P[3]" IOSTANDARD = DIFF_HSTL_II_18;
NET "RLD2_DK_N[0]" IOSTANDARD = DIFF_HSTL_II_18;
NET "RLD2_DK_N[1]" IOSTANDARD = DIFF_HSTL_II_18;
NET "RLD2_DK_N[2]" IOSTANDARD = DIFF_HSTL_II_18;
NET "RLD2_DK_N[3]" IOSTANDARD = DIFF_HSTL_II_18;
NET "RLD2_CK_P[0]" IOSTANDARD = DIFF_HSTL_II_18;
NET "RLD2_CK_P[1]" IOSTANDARD = DIFF_HSTL_II_18;
NET "RLD2_CK_N[0]" IOSTANDARD = DIFF_HSTL_II_18;
NET "RLD2_CK_N[1]" IOSTANDARD = DIFF_HSTL_II_18;

# TIMING ##############################################################
NET "clk250_bufg_out" TNM_NET = "Xsys_clk_in";
TIMESPEC TS_sys_clk_in = PERIOD "Xsys_clk_in" 4 ns HIGH 50 %;

INST "*/main0/top0/data_path0/data_write0/wr_data*" TNM = "TNM_WRDATA";
INST "*/main0/top0/iobs0/data_path_iobs0/dq_virtex5_insts.dq_bit_insts*.dq/dq_oddr*" TNM = "TNM_ODDRDQ";
TIMESPEC TS_WRFIFO_ODDRDQ = FROM "TNM_WRDATA" TO "TNM_ODDRDQ" TS_sys_clk_in ;

INST "*/main0/top0/data_path0/data_write0/data_mask*" TNM = "TNM_WR_DM";
INST "*/main0/top0/iobs0/data_path_iobs0/dm_virtex5_insts.dm_bit_insts*.dm/dm_oddr" TNM = "TNM_ODDRDM";
TIMESPEC TS_WRFIFO_ODDRDM = FROM "TNM_WR_DM" TO "TNM_ODDRDM" TS_sys_clk_in ;

INST "*/main0/top0/iobs0/data_path_iobs0/*dq_bit_insts*.dq/dq_iserdes*" TNM = "TNM_RDDATA";
INST "*/main0/top0/data_path0/*rd_data_rise_r1*" TNM = "TNM_RDDATA_LATCH";
TIMESPEC TS_READ1 = FROM "TNM_RDDATA" TO "TNM_RDDATA_LATCH" TS_sys_clk_in ;

# IDELAYCTRLS ##############################################################
INST "rld_mem_interface_top0/main0/top0/data_path0/taplogic0/idelayctrl0" LOC = IDELAYCTRL_X2Y1;
INST "rld_mem_interface_top0/main0/top0/data_path0/taplogic0/idelayctrl1" LOC = IDELAYCTRL_X2Y2;

# AREA ##############################################################
NET "clk250_bufg_out" KEEP = "TRUE";
