##-----------------------------------------------------------------------------
## Project    : OPED
## File       : nf10.ucf
## Author     : Stephanie Friederich
## Date       : 21.02.2011
## Device     : xc5vtx240t-ff1759-1
## Project    : V5-Block Plus for PCI Express

NET RESET             LOC = AL24  |  IOSTANDARD=LVCMOS33  | PULLUP | TIG;
NET CLK               LOC = AN25  |  IOSTANDARD=LVCMOS33;

#
# additional constraints
#

NET CLK TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 100 MHz;

###############################################################################
# Timing Constraints
###############################################################################



# Timing Constraints...
NET "nf10_oped_0/nf10_oped_0/oped/pciw_pci0_clk_O" PERIOD = 10ns;
NET "nf10_oped_0/nf10_oped_0/oped/pciw_pci0_pcie_ep/ep/pcie_ep0/pcie_blk/SIO/.pcie_gt_wrapper_i/gt_refclk_out[0]" TNM_NET = "PCI0CLK";
TIMESPEC "TS_PCI0CLK"  = PERIOD "PCI0CLK" 100.00 MHz HIGH 50 % ;





###############################################################################
# Define Device, Package And Speed Grade
###############################################################################

CONFIG PART = xc5vtx240t-ff1759-2;



###############################################################################
# Pinout and Related I/O Constraints
###############################################################################

#
# SYS reset (input) signal.  The nf10_oped_0_PCIE_RSTN_pin signal should be
# obtained from the PCI Express interface if possible.  For
# slot based form factors, a system reset signal is usually
# present on the connector.  For cable based form factors, a
# system reset signal may not be available.  In this case, the
# system reset signal must be generated locally by some form of
# supervisory circuit.  You may change the IOSTANDARD and LOC
# to suit your requirements and VCCO voltage banking rules.
#

#NET  "nf10_oped_0_PCIE_RSTN_pin"     LOC = "AL24" | IOSTANDARD = LVCMOS25 | PULLUP | NODELAY ;


#
# SYS clock 250 MHz (input) signal. The nf10_oped_0_PCIE_CLKP_pin and nf10_oped_0_PCIE_CLKN_pin
# signals are the PCI Express reference clock. Virtex-5 GTX
# Transceiver architecture requires the use of a dedicated clock
# resources (FPGA input pins) associated with each GTX Transceiver Tile.
# To use these pins an IBUFDS primitive (refclk_ibuf) is
# instantiated in user's design.
# Please refer to the Virtex-5 GTX Transceiver User Guide
# (UG198) for guidelines regarding clock resource selection.
#


INST "nf10_oped_0/nf10_oped_0/oped/pciw_pci0_clk"  DIFF_TERM = "TRUE";

NET  "nf10_oped_0_PCIE_CLKP_pin"       LOC = "AT4"  ;
NET  "nf10_oped_0_PCIE_CLKN_pin"       LOC = "AT3"  ;


#
# Transceiver instance placement.  This constraint selects the
# transceivers to be used, which also dictates the pinout for the
# transmit and receive differential pairs.  Please refer to the
# Virtex-5 GTX Transceiver User Guide (UG198) for more
# information.
#
# PCIe Lanes 0, 1
INST "nf10_oped_0/nf10_oped_0/oped/pciw_pci0_pcie_ep/ep/pcie_ep0/pcie_blk/SIO/.pcie_gt_wrapper_i/GTD[0].GT_i" LOC = GTX_DUAL_X1Y5;

# PCIe Lanes 2, 3
INST "nf10_oped_0/nf10_oped_0/oped/pciw_pci0_pcie_ep/ep/pcie_ep0/pcie_blk/SIO/.pcie_gt_wrapper_i/GTD[2].GT_i" LOC = GTX_DUAL_X1Y4;

# PCIe Lanes 4, 5
INST "nf10_oped_0/nf10_oped_0/oped/pciw_pci0_pcie_ep/ep/pcie_ep0/pcie_blk/SIO/.pcie_gt_wrapper_i/GTD[4].GT_i" LOC = GTX_DUAL_X1Y3;

# PCIe Lanes 6, 7
INST "nf10_oped_0/nf10_oped_0/oped/pciw_pci0_pcie_ep/ep/pcie_ep0/pcie_blk/SIO/.pcie_gt_wrapper_i/GTD[6].GT_i" LOC = GTX_DUAL_X1Y2;

# GTX_DUAL_X1Y6
# GTX_DUAL_X1Y7
# GTX_DUAL_X1Y8
# GTX_DUAL_X1Y9
# GTX_DUAL_X1Y10
# GTX_DUAL_X1Y11


###############################################################################
# Physical Constraints
###############################################################################

#
# BlockRAM placement
#

INST "nf10_oped_0/nf10_oped_0/oped/pciw_pci0_pcie_ep/ep/pcie_ep0/pcie_blk/pcie_mim_wrapper_i/bram_retry/generate_sdp.ram_sdp_inst"      LOC = RAMB36_X5Y20 ;
INST "nf10_oped_0/nf10_oped_0/oped/pciw_pci0_pcie_ep/ep/pcie_ep0/pcie_blk/pcie_mim_wrapper_i/bram_tl_tx/generate_tdp2[1].ram_tdp2_inst" LOC = RAMB36_X5Y19 ;
INST "nf10_oped_0/nf10_oped_0/oped/pciw_pci0_pcie_ep/ep/pcie_ep0/pcie_blk/pcie_mim_wrapper_i/bram_tl_rx/generate_tdp2[1].ram_tdp2_inst" LOC = RAMB36_X5Y18 ;
INST "nf10_oped_0/nf10_oped_0/oped/pciw_pci0_pcie_ep/ep/pcie_ep0/pcie_blk/pcie_mim_wrapper_i/bram_tl_tx/generate_tdp2[0].ram_tdp2_inst" LOC = RAMB36_X5Y17 ;
INST "nf10_oped_0/nf10_oped_0/oped/pciw_pci0_pcie_ep/ep/pcie_ep0/pcie_blk/pcie_mim_wrapper_i/bram_tl_rx/generate_tdp2[0].ram_tdp2_inst" LOC = RAMB36_X5Y16 ;

###############################################################################
# Flash signals
###############################################################################

NET "axi_cfg_fpga_0_GPIO_IO_pin<0>" LOC = "AK17"  |  IOSTANDARD=LVCMOS33 | PULLUP; 

NET "axi_emc_0_Mem_OEN_pin<0>"      LOC = "AM17"  |  IOSTANDARD=LVCMOS33 ;      
NET "axi_emc_0_Mem_CEN_pin<0>"      LOC = "AL17"  |  IOSTANDARD=LVCMOS33 ;       
NET "axi_emc_0_Mem_WEN_pin"       	LOC = "AR27"  |  IOSTANDARD=LVCMOS33 ;       

NET "axi_emc_0_Mem_A_pin<23>"    	LOC = "AJ18"  |  IOSTANDARD=LVCMOS33 ;
NET "axi_emc_0_Mem_A_pin<22>"    	LOC = "AK28"  |  IOSTANDARD=LVCMOS33 ;       
NET "axi_emc_0_Mem_A_pin<21>"    	LOC = "AM27"  |  IOSTANDARD=LVCMOS33 ;       
NET "axi_emc_0_Mem_A_pin<20>"    	LOC = "AK18"  |  IOSTANDARD=LVCMOS33 ;      
NET "axi_emc_0_Mem_A_pin<19>"    	LOC = "AL27"  |  IOSTANDARD=LVCMOS33 ;      
NET "axi_emc_0_Mem_A_pin<18>"    	LOC = "AP27"  |  IOSTANDARD=LVCMOS33 ;       
NET "axi_emc_0_Mem_A_pin<17>"    	LOC = "AR24"  |  IOSTANDARD=LVCMOS33 ;     
NET "axi_emc_0_Mem_A_pin<16>"    	LOC = "AT24"  |  IOSTANDARD=LVCMOS33 ;     
NET "axi_emc_0_Mem_A_pin<15>"    	LOC = "AN21"  |  IOSTANDARD=LVCMOS33 ;       
NET "axi_emc_0_Mem_A_pin<14>"    	LOC = "AM22"  |  IOSTANDARD=LVCMOS33 ;       
NET "axi_emc_0_Mem_A_pin<13>"    	LOC = "AW23"  |  IOSTANDARD=LVCMOS33 ;   
NET "axi_emc_0_Mem_A_pin<12>"   		LOC = "AY23"  |  IOSTANDARD=LVCMOS33 ;   
NET "axi_emc_0_Mem_A_pin<11>"    	LOC = "AL22"  |  IOSTANDARD=LVCMOS33 ;      
NET "axi_emc_0_Mem_A_pin<10>"    	LOC = "AK22"  |  IOSTANDARD=LVCMOS33 ;       
NET "axi_emc_0_Mem_A_pin<9>"     	LOC = "AN23"  |  IOSTANDARD=LVCMOS33 ;       
NET "axi_emc_0_Mem_A_pin<8>"     	LOC = "AP23"  |  IOSTANDARD=LVCMOS33 ;     
NET "axi_emc_0_Mem_A_pin<7>"     	LOC = "BA20"  |  IOSTANDARD=LVCMOS33 ;      
NET "axi_emc_0_Mem_A_pin<6>"     	LOC = "AY20"  |  IOSTANDARD=LVCMOS33 ;     
NET "axi_emc_0_Mem_A_pin<5>"     	LOC = "AR23"  |  IOSTANDARD=LVCMOS33 ;       
NET "axi_emc_0_Mem_A_pin<4>"     	LOC = "AT22"  |  IOSTANDARD=LVCMOS33 ;       
NET "axi_emc_0_Mem_A_pin<3>"     	LOC = "AW21"  |  IOSTANDARD=LVCMOS33 ;   
NET "axi_emc_0_Mem_A_pin<2>"     	LOC = "AW22"  |  IOSTANDARD=LVCMOS33 ;    
NET "axi_emc_0_Mem_A_pin<1>"     	LOC = "AR22"  |  IOSTANDARD=LVCMOS33 ;    
NET "axi_emc_0_Mem_A_pin<0>"     	LOC = "AP22"  |  IOSTANDARD=LVCMOS33 ;     

#NET "axi_emc_0_Mem_DQ_pin<15>"     	LOC = "AV21"  |  IOSTANDARD=LVCMOS33 ;     
#NET "axi_emc_0_Mem_DQ_pin<14>"     	LOC = "AU22"  |  IOSTANDARD=LVCMOS33 ;      
#NET "axi_emc_0_Mem_DQ_pin<13>"     	LOC = "AU21"  |  IOSTANDARD=LVCMOS33 ;     
#NET "axi_emc_0_Mem_DQ_pin<12>"     	LOC = "AT21"  |  IOSTANDARD=LVCMOS33 ;  
#NET "axi_emc_0_Mem_DQ_pin<11>"     	LOC = "AV18"  |  IOSTANDARD=LVCMOS33 ;       
#NET "axi_emc_0_Mem_DQ_pin<10>"    		LOC = "AV19"  |  IOSTANDARD=LVCMOS33 ;      
#NET "axi_emc_0_Mem_DQ_pin<9>"      	LOC = "AV24"  |  IOSTANDARD=LVCMOS33 ;    
#NET "axi_emc_0_Mem_DQ_pin<8>"      	LOC = "AU24"  |  IOSTANDARD=LVCMOS33 ;     
NET "axi_emc_0_Mem_DQ_pin<7>"      	LOC = "AM18"  |  IOSTANDARD=LVCMOS33 ;    
NET "axi_emc_0_Mem_DQ_pin<6>"      	LOC = "AM19"  |  IOSTANDARD=LVCMOS33 ;    
NET "axi_emc_0_Mem_DQ_pin<5>"      	LOC = "AP26"  |  IOSTANDARD=LVCMOS33 ;    
NET "axi_emc_0_Mem_DQ_pin<4>"      	LOC = "AN26"  |  IOSTANDARD=LVCMOS33 ;    
NET "axi_emc_0_Mem_DQ_pin<3>"      	LOC = "AL19"  |  IOSTANDARD=LVCMOS33 ;       
NET "axi_emc_0_Mem_DQ_pin<2>"      	LOC = "AK19"  |  IOSTANDARD=LVCMOS33 ;     
NET "axi_emc_0_Mem_DQ_pin<1>"      	LOC = "AP25"  |  IOSTANDARD=LVCMOS33 ;       
NET "axi_emc_0_Mem_DQ_pin<0>"      	LOC = "AR25"  |  IOSTANDARD=LVCMOS33 ; 

