############################################################################
##  File name :       nf10_rldram2_A.ucf
##  Xilinx / Michaela Blott
##  Muhammad Shahbaz
##  Details :     Constraints file
##                    FPGA family:       virtex5
##                    FPGA:              xc5vtx240t-ff1759
##                    Speedgrade:        -2
##
############################################################################
CONFIG PART = xc5vtx240tff1759-2;

############################################################################
#DCI_CASCADING
CONFIG DCI_CASCADE = "23 27 13 25 29";
CONFIG DCI_CASCADE = "24 28 30 26 14";
CONFIG DCI_CASCADE = "5 7";

############################################################################

############################################################################
# PINOUT
# BANK 4
# CONFIGURABLE CLK FROM X2
NET "sysClk_n" LOC = AM26;
# CONFIGURABLE CLK FROM X2
NET "sysClk_p" LOC = AL26;

NET "sysRst_n" TIG;
NET "sysRst_n" IOSTANDARD = LVCMOS33;
NET "sysRst_n" LOC = AL24;

############################################################################
# RLDRAM SECTION
###########################################################################
# PINOUT ###################################################################
NET "RLD2_A[0]" LOC = AJ36;
NET "RLD2_A[1]" LOC = AG37;
NET "RLD2_A[2]" LOC = AG36;
NET "RLD2_A[3]" LOC = AG31;
NET "RLD2_A[4]" LOC = AG32;
NET "RLD2_A[5]" LOC = AC33;
NET "RLD2_A[6]" LOC = AB33;
NET "RLD2_A[7]" LOC = AG33;
NET "RLD2_A[8]" LOC = AG34;
NET "RLD2_A[9]" LOC = AD37;
NET "RLD2_A[10]" LOC = AF31;
NET "RLD2_A[11]" LOC = AF32;
NET "RLD2_A[12]" LOC = AE35;
NET "RLD2_A[13]" LOC = AD35;
NET "RLD2_A[14]" LOC = AL36;
NET "RLD2_A[15]" LOC = AL37;
NET "RLD2_A[16]" LOC = AC30;
NET "RLD2_A[17]" LOC = AC31;
NET "RLD2_A[18]" LOC = AN38;
NET "RLD2_A[19]" LOC = AM38;
NET "RLD2_BA[0]" LOC = AF35;
NET "RLD2_BA[1]" LOC = AF36;
NET "RLD2_BA[2]" LOC = AH36;
NET "RLD2_WE_N" LOC = AC34;
NET "RLD2_REF_N" LOC = AC35;
NET "RLD2_CS_N[0]" LOC = AK37;
NET "RLD2_CK_N[0]" LOC = AE34;
NET "RLD2_CK_P[0]" LOC = AF34;
NET "RLD2_CK_N[1]" LOC = AE37;
NET "RLD2_CK_P[1]" LOC = AF37;
NET "RLD2_DK_P[0]" LOC = AD31;
NET "RLD2_DK_N[0]" LOC = AD30;
NET "RLD2_DK_P[1]" LOC = AD32;
NET "RLD2_DK_N[1]" LOC = AD33;
NET "RLD2_DK_P[2]" LOC = AH38;
NET "RLD2_DK_N[2]" LOC = AG38;
NET "RLD2_DK_P[3]" LOC = AE33;
NET "RLD2_DK_N[3]" LOC = AE32;
NET "RLD2_QVLD[0]" LOC = AP30;
NET "RLD2_QVLD[1]" LOC = AJ35;
NET "RLD2_DQ[0]" LOC = AH29;
NET "RLD2_DQ[1]" LOC = AH30;
NET "RLD2_QK_N[0]" LOC = AR29;
NET "RLD2_QK_P[0]" LOC = AR28;
NET "RLD2_QK_N[1]" LOC = AU33;
NET "RLD2_QK_P[1]" LOC = AU32;
NET "RLD2_CS_N[1]" LOC = AR30;
NET "RLD2_DQ[2]" LOC = AT32;
NET "RLD2_DQ[3]" LOC = AR32;
NET "RLD2_DQ[4]" LOC = AT29;
NET "RLD2_DQ[5]" LOC = AN30;
NET "RLD2_DQ[6]" LOC = AM29;
NET "RLD2_DQ[7]" LOC = AV30;
#NET 	 "RLD2_DQ<8>"    LOC = "" ;
NET "RLD2_DQ[9]" LOC = AU29;
NET "RLD2_DQ[10]" LOC = AL30;
NET "RLD2_DQ[11]" LOC = AL29;
NET "RLD2_DQ[12]" LOC = AU31;
NET "RLD2_DQ[13]" LOC = AV31;
NET "RLD2_DQ[14]" LOC = AT31;
NET "RLD2_DQ[15]" LOC = AT30;
NET "RLD2_DQ[16]" LOC = AP28;
#NET 	 "RLD2_DQ<17>"   LOC = "" ;
NET "RLD2_DQ[18]" LOC = AN28;
NET "RLD2_DQ[19]" LOC = AJ30;
NET "RLD2_DQ[20]" LOC = AH31;
NET "RLD2_DQ[21]" LOC = AT25;
NET "RLD2_DQ[22]" LOC = AT26;
NET "RLD2_DQ[23]" LOC = AK29;
NET "RLD2_DQ[24]" LOC = AV25;
NET "RLD2_DQ[25]" LOC = AV26;
#NET 	 "RLD2_DQ<26>"   LOC = "" ;
NET "RLD2_DQ[27]" LOC = AT34;
NET "RLD2_DQ[28]" LOC = AU34;
NET "RLD2_DQ[29]" LOC = AT27;
NET "RLD2_DQ[30]" LOC = AU27;
NET "RLD2_DQ[31]" LOC = AR33;
NET "RLD2_DQ[32]" LOC = AR34;
NET "RLD2_DQ[33]" LOC = AN29;
NET "RLD2_DQ[34]" LOC = AM28;
#NET 	 "RLD2_DQ<35>"   LOC = "" ;
NET "RLD2_DQ[36]" LOC = AK34;
NET "RLD2_DQ[37]" LOC = AJ33;
NET "RLD2_QK_N[2]" LOC = AH33;
NET "RLD2_QK_P[2]" LOC = AH34;
NET "RLD2_QK_N[3]" LOC = AP33;
NET "RLD2_QK_P[3]" LOC = AP32;
NET "RLD2_DQ[38]" LOC = AK33;
NET "RLD2_DQ[39]" LOC = AK32;
NET "RLD2_DQ[40]" LOC = AP37;
NET "RLD2_DQ[41]" LOC = AP31;
NET "RLD2_DQ[42]" LOC = AN31;
NET "RLD2_DQ[43]" LOC = AN35;
#NET 	 "RLD2_DQ<44>"   LOC = "" ;
NET "RLD2_DQ[45]" LOC = AN36;
NET "RLD2_DQ[46]" LOC = AM32;
NET "RLD2_DQ[47]" LOC = AM31;
NET "RLD2_DQ[48]" LOC = AM36;
NET "RLD2_DQ[49]" LOC = AL35;
NET "RLD2_DQ[50]" LOC = AL32;
NET "RLD2_DQ[51]" LOC = AL31;
NET "RLD2_DQ[52]" LOC = AU37;
#NET 	 "RLD2_DQ<53>"   LOC = "" ;
NET "RLD2_DQ[54]" LOC = AT36;
NET "RLD2_DQ[55]" LOC = AU36;
NET "RLD2_DQ[56]" LOC = AV36;
NET "RLD2_DQ[57]" LOC = AJ32;
NET "RLD2_DQ[58]" LOC = AJ31;
NET "RLD2_DQ[59]" LOC = AR35;
NET "RLD2_DQ[60]" LOC = AR37;
NET "RLD2_DQ[61]" LOC = AT37;
#NET 	 "RLD2_DQ<62>"   LOC = "" ;
NET "RLD2_DQ[63]" LOC = AN34;
NET "RLD2_DQ[64]" LOC = AM34;
NET "RLD2_DQ[65]" LOC = AP35;
NET "RLD2_DQ[66]" LOC = AP36;
NET "RLD2_DQ[67]" LOC = AM33;
NET "RLD2_DQ[68]" LOC = AN33;
NET "RLD2_DQ[69]" LOC = AK35;
NET "RLD2_DQ[70]" LOC = AL34;
#NET 	 "RLD2_DQ<71>"   LOC = "" ;

# IO STANDARDS ##############################################################
NET "RLD2_DQ[0]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[10]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[11]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[12]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[13]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[14]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[15]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[16]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[17]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[18]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[19]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[1]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[20]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[21]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[22]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[23]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[24]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[25]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[26]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[27]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[28]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[29]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[2]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[30]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[31]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[32]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[33]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[34]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[35]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[36]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[37]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[38]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[39]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[3]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[40]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[41]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[42]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[43]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[44]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[45]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[46]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[47]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[48]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[49]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[4]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[50]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[51]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[52]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[53]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[54]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[55]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[56]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[57]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[58]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[59]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[5]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[60]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[61]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[62]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[63]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[64]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[65]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[66]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[67]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[68]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[69]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[6]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[70]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[71]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[7]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[8]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DQ[9]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_QK_P[0]" IOSTANDARD = DIFF_HSTL_II_DCI_18;
NET "RLD2_QK_P[1]" IOSTANDARD = DIFF_HSTL_II_DCI_18;
NET "RLD2_QK_P[2]" IOSTANDARD = DIFF_HSTL_II_DCI_18;
NET "RLD2_QK_P[3]" IOSTANDARD = DIFF_HSTL_II_DCI_18;
NET "RLD2_QK_N[0]" IOSTANDARD = DIFF_HSTL_II_DCI_18;
NET "RLD2_QK_N[1]" IOSTANDARD = DIFF_HSTL_II_DCI_18;
NET "RLD2_QK_N[2]" IOSTANDARD = DIFF_HSTL_II_DCI_18;
NET "RLD2_QK_N[3]" IOSTANDARD = DIFF_HSTL_II_DCI_18;
NET "RLD2_A[0]" IOSTANDARD = HSTL_II_18;
NET "RLD2_A[10]" IOSTANDARD = HSTL_II_18;
NET "RLD2_A[11]" IOSTANDARD = HSTL_II_18;
NET "RLD2_A[12]" IOSTANDARD = HSTL_II_18;
NET "RLD2_A[13]" IOSTANDARD = HSTL_II_18;
NET "RLD2_A[14]" IOSTANDARD = HSTL_II_18;
NET "RLD2_A[15]" IOSTANDARD = HSTL_II_18;
NET "RLD2_A[16]" IOSTANDARD = HSTL_II_18;
NET "RLD2_A[17]" IOSTANDARD = HSTL_II_18;
NET "RLD2_A[18]" IOSTANDARD = HSTL_II_18;
NET "RLD2_A[19]" IOSTANDARD = HSTL_II_18;
NET "RLD2_A[1]" IOSTANDARD = HSTL_II_18;
NET "RLD2_A[2]" IOSTANDARD = HSTL_II_18;
NET "RLD2_A[3]" IOSTANDARD = HSTL_II_18;
NET "RLD2_A[4]" IOSTANDARD = HSTL_II_18;
NET "RLD2_A[5]" IOSTANDARD = HSTL_II_18;
NET "RLD2_A[6]" IOSTANDARD = HSTL_II_18;
NET "RLD2_A[7]" IOSTANDARD = HSTL_II_18;
NET "RLD2_A[8]" IOSTANDARD = HSTL_II_18;
NET "RLD2_A[9]" IOSTANDARD = HSTL_II_18;
NET "RLD2_BA[0]" IOSTANDARD = HSTL_II_18;
NET "RLD2_BA[1]" IOSTANDARD = HSTL_II_18;
NET "RLD2_BA[2]" IOSTANDARD = HSTL_II_18;
NET "RLD2_WE_N" IOSTANDARD = HSTL_II_18;
NET "RLD2_REF_N" IOSTANDARD = HSTL_II_18;
NET "RLD2_CS_N[0]" IOSTANDARD = HSTL_II_18;
NET "RLD2_CS_N[1]" IOSTANDARD = HSTL_II_18;
NET "RLD2_QVLD[0]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_QVLD[1]" IOSTANDARD = HSTL_II_DCI_18;
NET "RLD2_DK_P[0]" IOSTANDARD = DIFF_HSTL_II_18;
NET "RLD2_DK_P[1]" IOSTANDARD = DIFF_HSTL_II_18;
NET "RLD2_DK_P[2]" IOSTANDARD = DIFF_HSTL_II_18;
NET "RLD2_DK_P[3]" IOSTANDARD = DIFF_HSTL_II_18;
NET "RLD2_DK_N[0]" IOSTANDARD = DIFF_HSTL_II_18;
NET "RLD2_DK_N[1]" IOSTANDARD = DIFF_HSTL_II_18;
NET "RLD2_DK_N[2]" IOSTANDARD = DIFF_HSTL_II_18;
NET "RLD2_DK_N[3]" IOSTANDARD = DIFF_HSTL_II_18;
NET "RLD2_CK_P[0]" IOSTANDARD = DIFF_HSTL_II_18;
NET "RLD2_CK_P[1]" IOSTANDARD = DIFF_HSTL_II_18;
NET "RLD2_CK_N[0]" IOSTANDARD = DIFF_HSTL_II_18;
NET "RLD2_CK_N[1]" IOSTANDARD = DIFF_HSTL_II_18;

# TIMING ##############################################################
NET "clk250_bufg_out" TNM_NET = "Xsys_clk_in";
TIMESPEC TS_sys_clk_in = PERIOD "Xsys_clk_in" 4 ns HIGH 50 %;

INST "*/main0/top0/data_path0/data_write0/wr_data*" TNM = "TNM_WRDATA";
INST "*/main0/top0/iobs0/data_path_iobs0/dq_virtex5_insts.dq_bit_insts*.dq/dq_oddr*" TNM = "TNM_ODDRDQ";
TIMESPEC TS_WRFIFO_ODDRDQ = FROM "TNM_WRDATA" TO "TNM_ODDRDQ" TS_sys_clk_in ;

INST "*/main0/top0/data_path0/data_write0/data_mask*" TNM = "TNM_WR_DM";
INST "*/main0/top0/iobs0/data_path_iobs0/dm_virtex5_insts.dm_bit_insts*.dm/dm_oddr" TNM = "TNM_ODDRDM";
TIMESPEC TS_WRFIFO_ODDRDM = FROM "TNM_WR_DM" TO "TNM_ODDRDM" TS_sys_clk_in ;

INST "*/main0/top0/iobs0/data_path_iobs0/*dq_bit_insts*.dq/dq_iserdes*" TNM = "TNM_RDDATA";
INST "*/main0/top0/data_path0/*rd_data_rise_r1*" TNM = "TNM_RDDATA_LATCH";
TIMESPEC TS_READ1 = FROM "TNM_RDDATA" TO "TNM_RDDATA_LATCH" TS_sys_clk_in ;

# IDELAYCTRLS ##############################################################
INST "rld_mem_interface_top0/main0/top0/data_path0/taplogic0/idelayctrl0" LOC = IDELAYCTRL_X0Y1;
INST "rld_mem_interface_top0/main0/top0/data_path0/taplogic0/idelayctrl1" LOC = IDELAYCTRL_X0Y2;

# AREA ##############################################################
NET "clk250_bufg_out" KEEP = "TRUE";
