################################################################################
#
#  NetFPGA-10G http://www.netfpga.org
#
#  File:
#        nf10.ucf
#
#  Library:
#        N/A
#
#
#
#
#
#
#        Timing Constraints
#
#  Project:
#        configuration_test_no_cdc
#
#  Author:
#        Muhammad Shahbaz
#
#  Description:
#        Pin assignments and constraints; this is the Flash controller
#        connected to OPED
#        xc5vtx240t-ff1759-2 device
#
#  Copyright notice:
#        Copyright (C) 2010, 2011 University of Cambridge
#
#  Licence:
#        This file is part of the NetFPGA 10G development base package.
#
#        This file is free code: you can redistribute it and/or modify it under
#        the terms of the GNU Lesser General Public License version 2.1 as
#        published by the Free Software Foundation.
#
#        This package is distributed in the hope that it will be useful, but
#        WITHOUT ANY WARRANTY; without even the implied warranty of
#        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
#        Lesser General Public License for more details.
#
#        You should have received a copy of the GNU Lesser General Public
#        License along with the NetFPGA source package.  If not, see
#        http://www.gnu.org/licenses/.
#
#

NET "nf10_oped_0/nf10_oped_0/oped/pciw_pci0_clk_O" PERIOD = 10ns;
NET "nf10_oped_0/nf10_oped_0/oped/pciw_pci0_pcie_ep/ep/pcie_ep0/pcie_blk/SIO/.pcie_gt_wrapper_i/gt_refclk_out[0]" TNM_NET = "PCI0CLK";
TIMESPEC "TS_PCI0CLK"  = PERIOD "PCI0CLK" 100.00 MHz HIGH 50 % ;



###############################################################################
# Define Device, Package And Speed Grade
###############################################################################

CONFIG PART = xc5vtx240t-ff1759-3;


###############################################################################
# Flash signals
###############################################################################

NET "nf10_axi_flash_ctrl_0_FPGA_IOL9P_pin"    LOC = "AK20" ;
#NET "nf10_axi_flash_ctrl_0_FLASH_RST_pin"     LOC = "AK27" ;
NET "nf10_axi_flash_ctrl_0_FPGA_FOE_pin"      LOC = "AM17" ;
NET "nf10_axi_flash_ctrl_0_FPGA_FCS_pin"      LOC = "AL17" ;
NET "nf10_axi_flash_ctrl_0_FPGA_FWE_pin"      LOC = "AR27" ;

NET "CPLD_CLK"                                LOC = "AP21" ;
NET "reboot"                                  LOC = "AJ18" ;

NET "nf10_axi_flash_ctrl_0_FPGA_A_pin<23>"    LOC = "AK27" ;
NET "nf10_axi_flash_ctrl_0_FPGA_A_pin<22>"    LOC = "AK28" ;
NET "nf10_axi_flash_ctrl_0_FPGA_A_pin<21>"    LOC = "AM27" ;
NET "nf10_axi_flash_ctrl_0_FPGA_A_pin<20>"    LOC = "AK18" ;
NET "nf10_axi_flash_ctrl_0_FPGA_A_pin<19>"    LOC = "AL27" ;
NET "nf10_axi_flash_ctrl_0_FPGA_A_pin<18>"    LOC = "AP27" ;
NET "nf10_axi_flash_ctrl_0_FPGA_A_pin<17>"    LOC = "AR24" ;
NET "nf10_axi_flash_ctrl_0_FPGA_A_pin<16>"    LOC = "AT24" ;
NET "nf10_axi_flash_ctrl_0_FPGA_A_pin<15>"    LOC = "AN21" ;
NET "nf10_axi_flash_ctrl_0_FPGA_A_pin<14>"    LOC = "AM22" ;
NET "nf10_axi_flash_ctrl_0_FPGA_A_pin<13>"    LOC = "AW23" ;
NET "nf10_axi_flash_ctrl_0_FPGA_A_pin<12>"    LOC = "AY23" ;
NET "nf10_axi_flash_ctrl_0_FPGA_A_pin<11>"    LOC = "AL22" ;
NET "nf10_axi_flash_ctrl_0_FPGA_A_pin<10>"    LOC = "AK22" ;
NET "nf10_axi_flash_ctrl_0_FPGA_A_pin<9>"     LOC = "AN23" ;
NET "nf10_axi_flash_ctrl_0_FPGA_A_pin<8>"     LOC = "AP23" ;
NET "nf10_axi_flash_ctrl_0_FPGA_A_pin<7>"     LOC = "BA20" ;
NET "nf10_axi_flash_ctrl_0_FPGA_A_pin<6>"     LOC = "AY20" ;
NET "nf10_axi_flash_ctrl_0_FPGA_A_pin<5>"     LOC = "AR23" ;
NET "nf10_axi_flash_ctrl_0_FPGA_A_pin<4>"     LOC = "AT22" ;
NET "nf10_axi_flash_ctrl_0_FPGA_A_pin<3>"     LOC = "AW21" ;
NET "nf10_axi_flash_ctrl_0_FPGA_A_pin<2>"     LOC = "AW22" ;
NET "nf10_axi_flash_ctrl_0_FPGA_A_pin<1>"     LOC = "AR22" ;
NET "nf10_axi_flash_ctrl_0_FPGA_A_pin<0>"     LOC = "AP22" ;


NET "nf10_axi_flash_ctrl_0_FPGA_DQ<15>"       LOC = "AV21" ;
NET "nf10_axi_flash_ctrl_0_FPGA_DQ<14>"       LOC = "AU22" ;
NET "nf10_axi_flash_ctrl_0_FPGA_DQ<13>"       LOC = "AU21" ;
NET "nf10_axi_flash_ctrl_0_FPGA_DQ<12>"       LOC = "AT21" ;
NET "nf10_axi_flash_ctrl_0_FPGA_DQ<11>"       LOC = "AV18" ;
NET "nf10_axi_flash_ctrl_0_FPGA_DQ<10>"       LOC = "AV19" ;
NET "nf10_axi_flash_ctrl_0_FPGA_DQ<9>"        LOC = "AV24" ;
NET "nf10_axi_flash_ctrl_0_FPGA_DQ<8>"        LOC = "AU24" ;
NET "nf10_axi_flash_ctrl_0_FPGA_DQ<7>"        LOC = "AM18" ;
NET "nf10_axi_flash_ctrl_0_FPGA_DQ<6>"        LOC = "AM19" ;
NET "nf10_axi_flash_ctrl_0_FPGA_DQ<5>"        LOC = "AP26" ;
NET "nf10_axi_flash_ctrl_0_FPGA_DQ<4>"        LOC = "AN26" ;
NET "nf10_axi_flash_ctrl_0_FPGA_DQ<3>"        LOC = "AL19" ;
NET "nf10_axi_flash_ctrl_0_FPGA_DQ<2>"        LOC = "AK19" ;
NET "nf10_axi_flash_ctrl_0_FPGA_DQ<1>"        LOC = "AP25" ;
NET "nf10_axi_flash_ctrl_0_FPGA_DQ<0>"        LOC = "AR25" ;



###############################################################################
# Pinout and Related I/O Constraints
###############################################################################

#
# SYS reset (input) signal.  The nf10_oped_0_PCIE_RSTN_pin signal should be
# obtained from the PCI Express interface if possible.  For
# slot based form factors, a system reset signal is usually
# present on the connector.  For cable based form factors, a
# system reset signal may not be available.  In this case, the
# system reset signal must be generated locally by some form of
# supervisory circuit.  You may change the IOSTANDARD and LOC
# to suit your requirements and VCCO voltage banking rules.
#

NET  "RESET"     LOC = "AL24" | PULLUP | NODELAY ;


#
# SYS clock 250 MHz (input) signal. The nf10_oped_0_PCIE_CLKP_pin and nf10_oped_0_PCIE_CLKN_pin
# signals are the PCI Express reference clock. Virtex-5 GTX
# Transceiver architecture requires the use of a dedicated clock
# resources (FPGA input pins) associated with each GTX Transceiver Tile.
# To use these pins an IBUFDS primitive (refclk_ibuf) is
# instantiated in user's design.
# Please refer to the Virtex-5 GTX Transceiver User Guide
# (UG198) for guidelines regarding clock resource selection.
#


INST "nf10_oped_0/nf10_oped_0/oped/pciw_pci0_clk"  DIFF_TERM = "TRUE";

NET  "nf10_oped_0_PCIE_CLKP_pin"       LOC = "AT4"  ;
NET  "nf10_oped_0_PCIE_CLKN_pin"       LOC = "AT3"  ;


#
# Transceiver instance placement.  This constraint selects the
# transceivers to be used, which also dictates the pinout for the
# transmit and receive differential pairs.  Please refer to the
# Virtex-5 GTX Transceiver User Guide (UG198) for more
# information.
#
# PCIe Lanes 0, 1
INST "nf10_oped_0/nf10_oped_0/oped/pciw_pci0_pcie_ep/ep/pcie_ep0/pcie_blk/SIO/.pcie_gt_wrapper_i/GTD[0].GT_i" LOC = GTX_DUAL_X1Y5;

# PCIe Lanes 2, 3
INST "nf10_oped_0/nf10_oped_0/oped/pciw_pci0_pcie_ep/ep/pcie_ep0/pcie_blk/SIO/.pcie_gt_wrapper_i/GTD[2].GT_i" LOC = GTX_DUAL_X1Y4;

# PCIe Lanes 4, 5
INST "nf10_oped_0/nf10_oped_0/oped/pciw_pci0_pcie_ep/ep/pcie_ep0/pcie_blk/SIO/.pcie_gt_wrapper_i/GTD[4].GT_i" LOC = GTX_DUAL_X1Y3;

# PCIe Lanes 6, 7
INST "nf10_oped_0/nf10_oped_0/oped/pciw_pci0_pcie_ep/ep/pcie_ep0/pcie_blk/SIO/.pcie_gt_wrapper_i/GTD[6].GT_i" LOC = GTX_DUAL_X1Y2;

# GTX_DUAL_X1Y6
# GTX_DUAL_X1Y7
# GTX_DUAL_X1Y8
# GTX_DUAL_X1Y9
# GTX_DUAL_X1Y10
# GTX_DUAL_X1Y11


###############################################################################
# Physical Constraints
###############################################################################

#
# BlockRAM placement
#

#INST "nf10_oped_0/nf10_oped_0/oped/pciw_pci0_pcie_ep/ep/pcie_ep0/pcie_blk/pcie_mim_wrapper_i/bram_retry/#generate_sdp.ram_sdp_inst"      LOC = RAMB36_X5Y20 ;
#INST "nf10_oped_0/nf10_oped_0/oped/pciw_pci0_pcie_ep/ep/pcie_ep0/pcie_blk/pcie_mim_wrapper_i/bram_tl_tx/generate_tdp2[1].ram_tdp2_inst" LOC = RAMB36_X5Y19 ;
#INST "nf10_oped_0/nf10_oped_0/oped/pciw_pci0_pcie_ep/ep/pcie_ep0/pcie_blk/pcie_mim_wrapper_i/bram_tl_rx/generate_tdp2[1].ram_tdp2_inst" LOC = RAMB36_X5Y18 ;
#INST "nf10_oped_0/nf10_oped_0/oped/pciw_pci0_pcie_ep/ep/pcie_ep0/pcie_blk/pcie_mim_wrapper_i/bram_tl_tx/generate_tdp2[0].ram_tdp2_inst" LOC = RAMB36_X5Y17 ;
#INST "nf10_oped_0/nf10_oped_0/oped/pciw_pci0_pcie_ep/ep/pcie_ep0/pcie_blk/pcie_mim_wrapper_i/bram_tl_rx/generate_tdp2[0].ram_tdp2_inst" LOC = RAMB36_X5Y16 ;
